[2015-09-10 09:49] smanaqvi83 opened #1 "Image printing"
Can you please provide help on printing of images in this printer? using the same API?

Other printing is working fine, but we need to print images. Please help.

Regards
Ali

[2015-09-14 08:15] Klemen1337 commented on #1
Hi Ali,
currently we are too busy to update the library. Here are some user manuals for star printers if that helps you. There is a good description how to print dot matrix graphics.
http://www.i-pos.nl/download/star/Prog%20manual%20TSP700.pdf
http://www.star-m.jp/eng/service/usermanual/linemode_cm_en.pdf

We hope to release a new version with image and qr printing in the next week or two.

Cheers

[2015-09-14 14:36] smanaqvi83 commented on #1
Hi,
Thanks. Waiting desperately for this update.

Regards
Ali

On Mon, Sep 14, 2015 at 1:15 PM, Klemen1337 <notifications@github.com>
wrote:

[2015-09-14 17:12] c3959 opened #2 "network init"
You can add as feature connect via network?
not only by printing through usb

[2015-09-15 13:05] Klemen1337 commented on #2
Hi @c3959,
we do not have network printers, so we didn't include that function. When we get our hands on the network printer we will support it.

This is a forked repository where they support net communication.
https://github.com/Americas/node-thermal-printer/.

Cheers,
Klemen

[2015-10-03 18:46] zettam commented on #1
Any updates about this? Much appreciated!

[2015-10-10 07:02] eatsleeplim commented on #2
is it possible have a function that returns (and one that clears) the printText? This would allow users (me!) to print using other means (like the npm printer module) without being tied down to using /dev/usb/lp0.

[2015-10-11 07:44] zettam opened #3 "Adafruit printer support?"
Would you add adafruit printer support?
Also image printing?

Much needed!

[2015-10-21 13:38] Klemen1337 commented on #3
Hello,
have you checked the https://github.com/xseignard/thermalPrinter library?

[2015-10-21 13:55] Klemen1337 commented on #2
@eatsleeplim I have added the clear and getText functions you have requested. We are still working on different kinds of communication and image printing. Currently we only have the USB printer, but we are trying to get the ethernet or serial thermal printers.

[2015-10-21 14:00] zettam commented on #3
Yes I did, it's buggy at many points. Thank you for pointing out!

[2015-11-04 07:47] dantero00 opened #4 "2 printers connected"
I have a problem.. i need to connect two thermal in the same computer.. do you have an example about it ?

[2015-11-11 07:39] eatsleeplim commented on #4
in the current code, the printer is hardcoded to write to `/dev/usb/lp0`.

I'm doing a walkaround by getting the print output and then sending this output through the npm `printer` module (i'm printing using CUPS. My printer is a networked printer).

[code]

[2015-11-20 14:44] #3 closed

[2015-11-23 11:57] Dineshrajaa opened #5 "How to print a html element?"
Hi all,
 How can I use this module to print a html element?kindly help me to do that
P.S:
I am using Angular JS as front end I need to print a particular div

[2015-11-24 08:01] Klemen1337 commented on #5
Hi @Dineshrajaa,
this module is used server side with Node.js. You would need to set up a Node.js server that would communicate with your frontend Angular app. Check out this stackoverflow question: http://goo.gl/T0NgKV, it might help you.

[2015-11-24 08:02] #5 closed

[2015-11-24 08:07] Klemen1337 commented on #4
Hi all,
I added new init configuration where you must set the correct interface directory, so you can add more printers.
@eatsleeplim your solution is good and it can work with different operating systems.

[2015-11-24 08:10] Klemen1337 commented on #2
@c3959 can you test the new version with network printing? I dont have a network printer :stuck_out_tongue_winking_eye:

[2015-11-27 01:28] c3959 commented on #2
this weekend will use a printer from the office for testing. I will discuss them how everything works. :D Cheers

[2015-12-03 09:14] #4 closed

[2016-02-17 09:30] jmercha commented on #1
I have [fiddled around a little](https://github.com/jmercha/hue-ambience/blob/master/lib/color-mapper.js) with bitmaps in node before.

I also need image printing support for my projects as well, so I'd love to help out here! :smile

[2016-04-15 11:50] Klemen1337 commented on #1
@jmercha I see you made image.js to support image printing. Any luck?

[2016-04-16 11:29] jmercha commented on #1
@Klemen1337 I got stuck trying to send the right escape codes to the printer and haven't looked at it since. I'll probably have another look next weekend.

[2016-04-18 12:27] Klemen1337 commented on #1
@jmercha, I just changed the library to work with buffer instead of strings. It should help with the problem you have.

More about buffer:
[https://nodejs.org/api/buffer.html](https://nodejs.org/api/buffer.html)

[2016-04-22 15:11] luckyagarwal3247 opened #7 "How to provide printer port in Windows"
Hi,

i want to use this in a windows box. What should be the interface value for the printer connected to port USB001 ?

Thanks
Lucky

[2016-05-12 11:34] Klemen1337 commented on #7
Hi @luckyagarwal3247,
you can use https://www.npmjs.com/package/printer package. just send getBuffer() as data.

[2016-05-12 11:34] #7 closed

[2016-05-12 11:56] luckyagarwal3247 commented on #7
Correct me if I'm wrong,

I am supposed to use your module to generate the ESCP codes and supply the getBuffer() output to the above modules print command as data.

Thanks for the response.

[2016-05-13 07:20] Klemen1337 commented on #7
@luckyagarwal3247 Thtat is correct

[2016-05-31 15:32] ChazUK opened #8 "Special Characters not displaying properly"
I've had to manually add

`specialCharacters: {
     "£": 35,
    "@": 64
}`

to epsonConfig to enable these special characters. Can there not be a way to extend and support our own character set?

[2016-06-01 01:33] jackyzonewen opened #9 "is MacOS Support?"
when i use in MacOS, execute command "node example.js", Espon Printer is Connected my mac by use interface. the console print
"Not yet supported
false"

[2016-06-01 16:59] jackyzonewen opened #10 "messy code for chinese"
when i want to print chinese, thr print result is messy code,how to solve this?thanks,i am new to nodejs.

[2016-06-02 11:19] Klemen1337 commented on #9
Hi @jackyzonewen,
module is made to work with Linux for now. Please check issue https://github.com/Klemen1337/node-thermal-printer/issues/7.

[2016-06-02 11:19] #9 closed

[2016-06-08 02:17] jackyzonewen commented on #7
@Klemen1337 Thanks for your response, i use your module to generate ESCP Command Code, in example.js file, use code "interface: '/dev/usb/lp0'" to access printer, i have an printer with usb interface, how can i send the buffer data to the printer ?, i try to use node-usb, but the printer no response for me, is my method correct？

[2016-06-11 14:22] sadlyblue commented on #1
Hi, I'm trying to insert an image for an Epson thermal printer, with no succes so far.
Can anyone help?
I looked at the epson references, but they are a little confusing to me.
Thanks

[2016-06-11 14:49] Klemen1337 commented on #10
@jackyzonewen Im sorry I dont know how to help you with that. Try to change "characterSet"

[2016-06-11 14:50] Klemen1337 commented on #8
@ChazUK I will try to add support as soon as I can.

[2016-06-11 15:00] Klemen1337 commented on #1
@sadlyblue sorry this library dose not support image printing yet 😢

[2016-06-11 15:06] Klemen1337 commented on #7
@jackyzonewen Im not familiar with node-usb library, by just looking at it it seems that .transfer(data, callback) should work.

[2016-06-11 15:18] sadlyblue commented on #1
I'm aware it doesn't support images yet. But could you help me configure it. If i'm able to to it, i'm happy to provide the code for integration in your library.
The main difficulty i have, after looking at the epson references is how should i calculate the pL and pH values (along with all the other values), in this function GS ( L pL pH m fn a bx by c xL xH yL yH d1...dk, and i guess i should pas

[2016-07-12 09:32] luckyagarwal3247 opened #14 "Expose module for partial cut"
I see that the config file has partial cut config but is not exposed via any functions in the module. How can I use the partial cut feature?

[2016-07-14 08:56] Klemen1337 commented on #14
@dustinbolton added partial cut functionality! :smile:

[2016-07-14 08:57] #14 closed

[2016-07-14 09:03] luckyagarwal3247 commented on #14
I just uninstalled and reinstalled, didn't get the updated files. When would the latest files be available?

Thanks
Lucky

[2016-07-14 09:10] Klemen1337 commented on #14
It should be on now (v0.0.24)

[2016-07-14 09:15] luckyagarwal3247 commented on #14
Got it. Now I can keep my Kitchen Order Tickets from falling off and getting lost under tables. :)
Thanks @Klemen1337  and @dustinbolton

[2016-07-18 06:56] Klemen1337 commented on #14
@luckyagarwal3247 haha, sweet :smile:

[2016-08-04 09:20] pratikkulshreshth commented on #1
Any progress on this?

[2016-08-05 23:54] dustinbolton commented on #1
Here's a library that can print images to a thermal printer BUT it is not an Epson or Star.  The command codes look different so I don't know if the image format itself is compatible but it may be helpful to someone who is further along in understanding the image formats this expects...

Library:
https://github.com/xseignard/thermalPrinter/blob/master/src/printer.js

Function:
 printImage() and pr

[2016-08-09 07:02] dustinbolton opened #17 "Polling printer for status? (eg if out of paper)"
Do you know of any way to be able to get data back from the printer? Specifically I'd like to check the sensors on whether the printer is out of paper.

It looks like there's not currently the ability to read from the printer, only send to it.  Do you think reading in similar to the following might work? I'll try and see what I can figure out in the next few days.

http://stackoverflow.com/questio

[2016-08-29 12:53] edisla1992 opened #19 "interface: root in winodws?"
how add interface printer queue in windows?

[2016-08-30 09:54] Klemen1337 commented on #19
Hi @edisla1992,
Im not sure I understand your question. https://github.com/Klemen1337/node-thermal-printer/issues/7 issue might help you.

[2016-09-02 08:58] Klemen1337 commented on #17
@dustinbolton I haven't tried reading data from printer yet. Have you figure anything out yet?

[2016-09-02 10:15] boardyuk opened #20 "net issue"
I'm trying to connect to an Epson network printer however I'm getting the following error

My JS
[code]

Am I doing something wrong?

[2016-09-02 10:21] boardyuk commented on #20
My fault, I didn't realise I needed to send data and couldn't just check for the existence of the printer.

[2016-09-02 10:21] #20 closed

[2016-09-07 08:08] Klemen1337 commented on #1
I just pushed an experimental :warning:  epson and star image printing, anyone knows why star printing doesnt work? If anyone can help that would be great :smile:

[2016-09-09 12:38] Klemen1337 commented on #1
UPDATE: @SloInfinity just pushed an update for EPSON image print. This library is now supporting PNG image printing for EPSON printers. He is still working on STAR support.

[2016-09-12 07:22] Klemen1337 commented on #1
Image printing done :smile:

[2016-09-12 07:22] #1 closed

[2016-09-28 23:07] dustinbolton commented on #17
@Klemen1337 I've been busy the past few weeks but good news: I've been able to grab the status flags from the printer so I'll work on adding that in.

[2016-10-04 11:39] sadlyblue commented on #8
I don't really know how to work with git and github, but i've made a fork to include support for Windows 1252 charset to the epson. If you are interested, just add to the main development.

[2016-11-03 05:16] dustinbolton commented on #17
@Klemen1337 Getting close on this. It turned out to be a lot more intense than I expected getting it to all play nicely together but it should be really cool. Adding support for polling the printer for its status as well as using the "auto status back" feature of these printers allowing it to trigger a callback live any time the status changes.

[2016-11-14 17:53] #17 closed

[2016-11-14 17:54] Klemen1337 commented on #17
What printer were you working on?

[2016-11-14 19:12] dustinbolton commented on #17
@Klemen1337 I'm working on adding it for both Epson & Star compatible printers. I've tested it on Epson & Citizen brand printers but have not had time to try it out on Star yet although I've added all the command codes so it may already be working for Star. I had to touch quite of bit of code to do all this.

I've pushed my preliminary version up here:
https://github.com/dustinbolton/node-thermal-

[2016-12-30 15:27] seiyria commented on #7
So based on this, is it safe to say that this library is basically linux only? I can't get it working on OSX (I can't figure out what the interface should be) and I'd need to use it on windows at bare minimum for the built application.

[2017-01-05 09:30] Klemen1337 commented on #7
@seiyria well I'm using it with [printer](https://www.npmjs.com/package/printer) package on windows. But yes the library on its own only works on linux. Maybe windows support will be added in the future.

[2017-01-07 17:05] seiyria opened #21 "expose printBarcode?"
if code128 only works on star and printBarcode only works on epson, it would be nice to have printBarcode documented like code128

[2017-01-07 17:06] seiyria opened #22 "throw errors on printBarcode/code128 fails"
I would like to try/catch to do one or the other but they're console.error, not actual errors so I can't.

[2017-01-07 17:25] seiyria opened #23 "thought: print empty string instead of throwing error"
right now, if you try to println null, you get `cannot read property length of null`. for me, I'd rather it just print an empty string.

[2017-01-23 13:13] praveen-tripathi opened #24 "not able to connect thermal printer(80C)"
printer.isPrinterConnected( function(isConnected){ console.log(isConnected); } );
always returns false, while printer is connected.

[2017-02-01 02:42] asoneji commented on #7
How can we print on mac?

I got the https://www.npmjs.com/package/printer pkg and did https://github.com/tojocky/node-printer/blob/master/examples/getPrinters.js and I get the following output for my thermal printer.

`  { name: 'Star_TSP143__STR_T_001_',
    isDefault: false,
    options:
     { copies: '1',
       'device-uri': 'usb://Star/TSP143%20(STR_T-001)?location=40110000',
       finishin

[2017-02-03 13:42] Klemen1337 commented on #24
if you look at the isPrinterConnected function you can see it just checks if the interface exists. That probably works only for linux. If you are using windows please use it with [printer](https://www.npmjs.com/package/printer) library.

[2017-02-03 13:44] Klemen1337 commented on #23
So you just want to add new line or in case your object value is null?

[2017-02-03 13:46] Klemen1337 commented on #22
Ill add it when I have some time, but you are welcome to make a pull request.

[2017-02-03 13:48] seiyria commented on #23
Basically, yeah. Otherwise you get an error when your value is null. I'd rather validate the physical receipt than it say "your string is null" and then have to guess what string it could possibly be.

[2017-02-10 20:27] papakay opened #25 "Using this Module in Ember Js"
Hello, please i have tried to import this module into an ember Js app using ember-browserify on a macOs laptop. The import but i got this issue when i tried to execute printer commands following the example provide on the README.

```index.js:53 Uncaught TypeError: fs.writeFile is not a function```

Please how can i resolve this?

Thank you.

[2017-02-21 02:40] ivanfelipecp opened #26 "I get stocked in printer.execute(...)"
Hello, i get stocked in printer.execute()
this is my code

var printer = require("node-thermal-printer");

printer.init({
  type: 'epson',
  interface: '/dev/usb/lp0'
});

printer.println("Helloworld");
printer.execute(function(err){
    console.log("enters");
    if (err) {
      console.error("Print failed", err);
    } else {
     console.log("Print done");
    }
    printer.clear();
});

The p

[2017-03-02 09:41] KostadinP commented on #26
Try to run your script as admin. I had the same problem. Is there any way to avoid it?

[2017-03-02 13:43] Klemen1337 commented on #25
Sorry I can't help you with ember. I see no fs.writeFile in this module. What version of node are you using?

[2017-03-02 13:46] Klemen1337 commented on #26
Well no because /dev/usb/lp0 is usually non writable for the normal user.

[2017-03-03 23:34] solinad21 opened #27 "work in ios 10 ?"

[2017-03-08 07:53] Klemen1337 commented on #27
This is a nodeJS module

[2017-03-08 07:53] #27 closed

[2017-03-08 21:40] solinad21 commented on #27
Yes I know, but I want to know if with this module nodejs I can print on iOS 10 (laptop mac)?

[2017-03-08 22:21] Klemen1337 commented on #27
You mean OSX aka macOS?

[2017-03-08 22:55] solinad21 commented on #27
very sorry, yes i mean MAC OS X

[2017-03-09 12:41] Klemen1337 commented on #27
Place check issue https://github.com/Klemen1337/node-thermal-printer/issues/9.

[2017-03-17 12:32] kkaptan commented on #7
@asoneji, as @Klemen1337 described using this module on Windows/OSX you need to make use of the printer module for interfacing with the printers. And use the node-thermal-printer only to generate the data to be sent to the printer via the `printer.printDirect({data:..,}) method`.

In your case,
[code]

Only Problem I'm having is printing barcodes or qrcodes, cut paper for example. Only type that i

[2017-03-23 09:12] Klemen1337 commented on #7
Hi @kkaptan, type `TEXT` is not valid. The only avalible types are `star` and `epson`. If you check [line 17](https://github.com/Klemen1337/node-thermal-printer/blob/master/node-thermal-printer.js#L17) you will notice that if the type is not valid `epson` configuration will be used. I know, its bad :smile:

I believe that TSP100 is a graphical only printer. You have to set it up so it behaves as a

[2017-04-28 19:17] E-P1983 commented on #7
@kkaptan did you ever find out how to print barcodes? :) having the same issue right now

[2017-04-30 21:39] kkaptan commented on #7
@E-P1983 nope, I stopped trying. I don't think it is supported by the thermal_printer library for the `star` printer.  I believe @Klemen1337 misunderstood my question as I did indeed use `star` for the type as shown in the example provided. I use `type`: `TEXT`, to the `printer` library.

As a side note, I managed to print an image using just the [printer](https://github.com/tojocky/node-printer)

[2017-05-15 13:57] engirocha opened #29 "No printing"
Hello!

The console shows:

[code]

But nothing is printed.

Thank you very much.

Using Node.js 7.4.0.

[2017-06-27 18:34] rambabusaravanan opened #30 "Compile the package down to ES5"
**Problem**
Uglify doesn't understand the ES6 syntax.
`let i = "QRCODE_CELLSIZE_".concat(settings.cellSize.toString())`

**Explanation**
I'm building a cross-platform desktop [app](https://github.com/rambabusaravanan/error-create-react-app) using electron and react and I'm using npm package 'node-thermal-printer' for usb thermal printer. The printer code works fine in the places where react-script

[2017-06-30 07:35] SanthoshDhandapani commented on #7
After a lot of research, atlast i found a working solution.
For Windows:

Install corresponding printer driver
Enable share printer and give a share name from printer properties by right clicking on the printer
Now input the interface in printer config as shown below
Syntax: \\IP_ADDRESS\SHARED_PRINTER_NAME
Example: \\192.168.2.20\Posiflex

[2017-07-05 10:19] AVanVlack commented on #30
Ya sorry this is my code. Was not following the projects style. Fixed here: [](https://github.com/Klemen1337/node-thermal-printer/pull/31/commits/f4b6f513452b88160bc084ec36072cb1a5064701)

[2017-07-19 13:37] rambabusaravanan commented on #30
Thanks for your contribution. It would be helpful for us if published in npm too.

[2017-07-20 09:17] Klemen1337 commented on #30
@rambabusaravanan Updated to version 1.0.5 on npm, sorry for the delay.

[2017-07-20 09:17] #30 closed

[2017-07-20 09:19] Klemen1337 commented on #29
Check if you are printing on the right interface and try running node with sudo.

[2017-07-27 16:48] ntyrrell commented on #8
Hi @sadlyblue, could you upload your fix as a code block for forking the repository?

[2017-07-30 02:24] AVanVlack commented on #17
@dustinbolton  are you still up for merging your code? I have this working on lan, usb (cross platform via libusb), and serial and wanted to build this into the library.

[2017-07-31 13:56] sadlyblue commented on #8
Hi @ntyrrell, sorry for the late reply. I'm not very familiar how to use github. But i've added the code to a new fork. I think you can find it in my account. Basically I added the charSet WPC1252, and the corresponding special characters.

[2017-07-31 15:09] ntyrrell commented on #8
Hi @sadlyblue, no worries! I managed to spot that, thank you for sharing 😄 In the end, I ended up doing my own fork as I am using a Star printer, but my hope is that it allows for specifying custom special characters (see #32)

[2017-08-13 04:44] megaed opened #33 "Can't print images/barcodes/QR codes"
I have successfully printed texts and was able to confirm that most of the text options work but...

I noticed that I can't print anything else. I tried transferring an image onto my raspberry pi which is the computer utilizing the thermal printer, it was in PNG format. I then followed the examples and it just won't print out the image. It did move the thermal paper but nothing was printed.

When

[2017-08-13 04:48] AVanVlack commented on #33
What printer are you using?

[2017-08-13 05:03] megaed commented on #33
https://www.banggood.com/POS-5890K-58mm-Thermal-Receipt-Printer-Support-WIndows-Linux-p-1053549.html

I'm using this printer.

[2017-08-13 05:58] AVanVlack commented on #33
It looks like that printer supports the basic esc/pos printer commands but is not able to build QR codes in the printer itself. You will have to uses another library to build a raster image of the QR code.

The 1d barcodes should work but is dose not seem to support the hri font command and the way I have it implimented right now it always sends all the setting commands and most likely confuses th

[2017-08-13 10:48] megaed commented on #33
I applied the fix you suggested for the barcode and it started to work.

Since I can't build the QR code within the printer itself and I have to be able to generate a raster image of the QR code that means -- I still have to print the QR code as an image which I still can't seem to get working.

You said that the image printing should work on my printer but no image is sent to my printer after cal

[2017-08-23 16:40] ronaldkan commented on #10
@jackyzonewen You could encode your text into 'GB18030' with the help of some libraries (for example, iconv-lite).

For example,
`
var printer = require("node-thermal-printer");
var iconv = require('iconv-lite');

printer.init({
  type: 'epson',
  interface: '/dev/usb/lp0'
});

printer.println(iconv.encode("华文字幕", 'GB18030'));
`

[2017-08-26 16:29] anujmv opened #34 "Need help with border for table"
Hi,  this works very well along with printer package for Windows, including QR and Barcode.
Tested on Epson TM-T82.  However,  am not able to find any doc on how to draw border for table.
Please help.
Thank you.

[2017-08-29 14:10] Klemen1337 commented on #34
Well you have to draw border with characters.
Something like this:
+--------------------+
|                 |        |
|                 |        |
+--------------------+

[2017-08-31 12:03] Klemen1337 commented on #21
@seiyria it would be nice yes :smile:

[2017-09-01 04:18] pmccarren opened #36 "Table widths don't account for type B font"
Hello!

**TLDR; What's broken?**
The table generator does not account for the extra line length when using `Font B`

**More Info**
When `Font B` is used each line is an extra 15 characters wide and the line height remains the same. The problem is that the table generator does not account for the extra line length.

I'm using the Epson TM-T88V, so the 15 character difference might be different on o

[2017-09-01 07:40] Klemen1337 commented on #36
Hi @pmccarren good point. I never considered that because i was only working with type A font.

[2017-09-01 22:02] alandoyle95 opened #37 "support for Brother P-tocuh printers?"
could this feature get added?

http://www.brother.com/product/dev/outline/index.htm

in more detail.. for this printer?
https://www.brother-usa.com/support/ModelInfo.aspx?R3ModelID=ptp700

and could we get it to load a pre existing template file?

would LOVE this feature to get added. and would be willing to pay to have it added. need this for a project im working on. would be willing to spend in

[2017-09-21 03:18] ngocminh237 opened #38 "print via bluetooth"
hello, thank you for your project. do it support print via star bluetooth and zebra bluetooth?
thank you

[2017-11-07 17:24] Chun-Yang opened #41 "Publish a new version?"
Hi guys,

Thanks for the package. It seems there is an update 1 month ago about node-png -> pgnjs, but no new version is pushed to npm.

Could you publish it?

Thanks

[2017-11-24 15:51] mipod opened #43 "Can't connect to printer Epson TM-20ii"
Hello,

I amtrying to connect to a Epson TM-20ii thermal printer through usbbut all i get is false when i run isPrinterConnected. Any solution that i could try to conenect to the printer? I have tryied changing the interfacein init but with no luck.

Thank you for your time

[2017-11-29 15:06] Klemen1337 commented on #41
Sorry, im pushing it now

[2017-11-29 15:11] #41 closed

[2017-11-29 15:12] Klemen1337 commented on #38
Zebra printers works totally different.

[2017-11-29 15:13] Klemen1337 commented on #37
This is a different type of printer, sorry.

[2017-11-29 15:14] Klemen1337 commented on #43
Hi @mipod,
what operating system are you using?

[2017-11-29 15:25] mipod commented on #43
Hello @Klemen1337 ,
I am currently runing on Windows 10 x64.

[2017-11-29 15:47] Klemen1337 commented on #43
If you wanna print through USB port, use it with [Printer](https://www.npmjs.com/package/printer) npm module.

[2017-12-11 05:44] JefferyHus opened #44 "Windows Printer Star"
[code]
This is my code, I would love to know what are the interfaces and how we set one, because I believe I am missing something, However the console does print "Printer is connected: true" but still it isn't printing.

[2017-12-11 06:06] AVanVlack commented on #44
That looks correct. Interfaces get selected automaticly by parsing the location you provided. It looks like you have a network printer? What is the printer model number?

[2017-12-11 06:15] JefferyHus commented on #44
Yes a network printer, Star TSP143LAN Cutter

[2017-12-11 06:28] AVanVlack commented on #44
That printer dose not support esc/pos commands for generating receipts. The future print models expect a image of what you want to print that use separate commands then what this library uses. This library won't do much for that printer.

The windows star software dose have an emulator that will take the commands this library generates and produces and image for the printer but if really meant for

[2017-12-11 06:34] JefferyHus commented on #44
Hi,
I got it to work, it's 6:30 Am here didn't sleep till I fixed this, so forgive my brain dead ideas.
I have been looking inside the Printer library's issues [Printer](https://github.com/tojocky/node-printer/issues/159), thanks to this I have merged both libraries and got it to work, However i'm still struggling at executing the cut, beep commands even tho I feed the Buffer.

[code]

I can't thi

[2017-12-11 14:05] Klemen1337 commented on #44
Hi @JefferyHus,
No need to printerTherm.execute if you are using printer.printDirect, as you are only using printerTherm for the commands. TSP143LAN might have different codes to execute cut or beep, that is why it is not working.

[2017-12-11 14:58] JefferyHus commented on #44
Thanks @Klemen1337 Yeah I will try to read its manual and integrate later to work, thanks :+1:

[2017-12-12 00:45] JefferyHus commented on #44
sorry for being here again, but the Japanese is not well printed

[2017-12-12 02:07] JefferyHus commented on #44
this is the [Manuel](http://www.starasia.com/Download/Manual/comemu_starline_pm.pdf) I have tried but couldn't extract the exact bytes to set in the buffer to print, today tested same above code the reciept was empty.

[2017-12-16 20:32] blairkelly opened #45 "Star TSP100 (143 LAN) Not printing"
Hi there -
I'm new to thermal printers. The printer I'm trying to use is a Star TSP100IIILAN model (143 LAN). If I specify in the example.js options an interface of "tcp://10.0.1.15:9100", the net interface will successfully connect to the printer. The buffer is sent to the printer. Then there's a data event which returns "#�".

However, the printer does nothing.

I don't know if this is an issue

[2017-12-20 11:03] DaBs opened #46 "PNG Image ends up with visible vertical lines in it"
I'm trying to print two different PNGs and have so far tried printing them on two different STAR printers. And they end up printing, albeit with very visible vertical lines in them. Saving the png before the printing process of converting it to an image buffer for the star printer does not produce those lines, so I believe there might be an issue with the conversion to buffer data.

Example PNG fi

[2017-12-20 13:39] blairkelly commented on #45
After quite a bit of research, it looks like the Star TSP100/TSP143 LAN is not able to print using Line Mode Commands or ESC/POS from Linux: the solution has been to generate a PDF from HTML and then print the PDF using the node-printer library.

[2017-12-20 13:39] #45 closed

[2017-12-20 14:30] DaBs commented on #46
Closing this issue, as the error was completely user-side. For future reference, I was encoding stupidly in ascii, which led to this error.

[2017-12-20 14:30] #46 closed

[2018-01-06 10:03] ihussain1024 opened #47 "Print barcode"
Hi
I'm not able to print barcode using this library or project. I'm using Zebra TLP 2844 barcode printer.
### Any help will be appreciated

[2018-01-08 05:36] ihussain1024 opened #48 "Not printing"
I'm not able to print anything, using Zebra TLP 2844 printer.

[2018-01-11 22:23] buraky84 commented on #38
i have the same question. i work with android and ios via react-native. i wonder if i could be able to connect to ESC POS Thermal printer via this library and print images etc.

[2018-01-17 09:22] Klemen1337 commented on #48
Zebra printers are not supported.

[2018-01-17 09:22] #48 closed

[2018-01-17 09:23] Klemen1337 commented on #47
Same as https://github.com/Klemen1337/node-thermal-printer/issues/48

[2018-01-17 09:23] #47 closed

[2018-01-17 09:26] Klemen1337 commented on #38
@buraky84 I don't know if you can use node packages with react native.

[2018-01-22 21:27] 5zirok commented on #33
I also use such a 5890K printer. And I can not print the Cyrillic alphabet. What can be wrong?

[2018-02-04 22:33] kikolobo commented on #2
Did it worked ?? Can you connect to several printers?

[2018-02-21 04:23] singgihmardianto opened #50 "Question: Dot Matrix Support"
Hello, I'm working on web app and now stuck on how to print on dot matrix printer. Does this library support dot matrix printer? I use Epson LX 310 for the printer.

Thanks!

[2018-03-06 19:17] AnuSheeba opened #51 "fs.writeFile is not a function"
Hai,
 I used node thermal printer for access EPSON printer in my application.This npm is dependent on

but when i execute printer, i got error like this fs.writeFile is not a function.

`printer.init({
  type: 'epson',
  interface: '\USB\VID_04B8&PID_0E15'
});
console.log("print",printer);
if(printer.isPrinterConnected){
  console.log('isPrinterConnected');
}
else{
  console.log('not Connected');

[2018-03-09 19:12] dbarjs opened #52 "Is compatible with Epson TM-T20?"
I'm buying an Epson TM-T20 printer. Has anyone tested on it yet?
Thanks

[2018-03-17 15:10] ozguruksal opened #53 "CONNECTION REFUSED"
Hi,

Thanks for this npm package. I run the node code using "sudo", but I received the following error.
( I have used "star" printer: **TSP100III**)
Any suggestions, please?

_Output_:
**Printer is connected:  true**
Print Failed: { Error: connect ECONNREFUSED 192.168.1.157:9100
    at Object._errnoException (util.js:1022:11)
    at _exceptionWithHostPort (util.js:1044:20)
    at TCPConnectWrap.af

[2018-03-22 20:47] nielsrobin opened #54 "printer.openCashDrawer() not opening drawer"
I'm trying to open the cash drawer however nothing is happening.

Code:
[code]
Everything else seems to work though. The printer is a "Star TSP100 Tear Bar (TSP113)" is connected via USB to the computer and the cashdrawer is connected to the printer via phone-jack (I guess it is called).

[2018-03-25 06:40] #53 closed

[2018-03-28 07:08] keerthi158 opened #55 "printer.isPrinterConnected() always returns true even the printer is OFF."
I have printed the bill using USB printer. But when I turn off the printer, it's not return the "false" value for the printer.isPrinterConnected(). It is always prints the "Print done" on console.

[code]

[2018-03-28 14:30] gugadev commented on #52
@dbarjs At my job we use the model TM-T20II for our electronic billing systems without problems. Some times the printer does not print, so we need to reset the printer, but I don't know yet if this is problem of this package or something else.

[2018-04-05 03:09] burakkilic opened #56 "Start TSP100III wifi printer says connected but cannot print"
Hi,

I couldn't make my new Star printer print. here is the code:

    printer.init({
                type: printer.printerTypes.STAR,  // 'star' or 'epson'
                interface: "tcp://192.168.2.8:9100",
                width: 48,                         // Number of characters in one line (default 48)
                characterSet: 'SLOVENIA',          // Character set default SLOVENIA

[2018-04-05 10:41] Klemen1337 commented on #54
It also depends on the drawer. Some work, some don't....
You can probably get it working by changing the command so it sends a pulse to a different pin
[code]

[2018-04-07 17:43] burakkilic commented on #56
I'm getting

    Print failed! Reason : Error: connect ECONNREFUSED 192.168.2.8:9100

Also I ping the printer:

    Buraks-MacBook-Pro:fdprintserver burak$ nc -z 192.168.2.8 1-50000
    Connection to 192.168.2.8 port 23 [tcp/telnet] succeeded!
    Connection to 192.168.2.8 port 80 [tcp/http] succeeded!
    Connection to 192.168.2.8 port 515 [tcp/printer] succeeded!
    Connection to 192.168.2.8 po

[2018-04-10 21:31] daniel-at-yoke commented on #52
I've been using this package with a TM-T20II from a Raspberry Pi (using CUPS and [this unofficial driver](https://github.com/plinth666/epsonsimplecups)), and it works like a charm. Haven't had any issues with it

[2018-04-13 16:19] keerthi158 commented on #56
Sorry for the delayed response.
The message 'Connection Refused' has two main causes:
- Nothing is listening on the IP:Port you are trying to connect to.
- The port is blocked by a firewall.

Please ping and check whether you get the response from printer. (sending packets and receive it)
Also check any of the device has same IP which is assigned for printer.

[2018-04-13 16:49] SanthoshDhandapani commented on #7
Hi @IamSumitJangid
Did you tried the above solution which I posted, that worked for me in Windows. I had the same problem and at last that worked for me.

[2018-04-14 05:46] SanthoshDhandapani commented on #7
@IamSumitJangid Comment that url and also mention your printer name and model

[2018-04-14 05:51] IamSumitJangid commented on #7
@SanthoshDhandapani

URL : https://www.youtube.com/watch?v=MQMD4Pb7jzY
Printer name : Tvs RP3160 star.

[2018-04-14 06:09] SanthoshDhandapani commented on #7
@IamSumitJangid it's clear from that video, they are running in a local environment not from the hosted static webpage. If you clearly observe you can see the localhost in the url. They are using asp as server side programming so thay they are interacting with the system resources and we can achieve the same with node also.

Clearly think about this,  if the web page is hosted in production which

[2018-04-14 06:17] SanthoshDhandapani commented on #7
@IamSumitJangid But there are some ways to communicate to a printer from websites. They are

1. Print by email
HP printers support ePrint, which is the ability to email a doc, pdf, html, or jpg to a printer. It will print automatically, without going through a PC

2. Print by Cloudprint
Another choice, especially if you want to check if the printer is online or if the print job completed, is to us

[2018-04-14 08:13] IamSumitJangid commented on #7
@SanthoshDhandapani
thank you brother, I will try above described message and  i'll contact you again if i stuck.

[2018-04-14 19:05] IamSumitJangid commented on #7
@SanthoshDhandapani
I got a solution i created a program in java which prints the content within 1 second.Via setting the content type html/css, I passed the hard coded html file which prints the same. Which than integrated in API and called automatically whenever any invoice is generated, Now the problem is how that program will get data dynamically to print. Can i send data via JSON file or via

[2018-04-14 19:39] IamSumitJangid commented on #7
@SanthoshDhandapani
Yes my web app is on local system.
Is there  any method to pass data from browser to the created java application for print.

[2018-04-14 19:50] SanthoshDhandapani commented on #7
Thorough rest api. I hope you can do the remaining stuffs then :)

[2018-04-17 08:42] Klemen1337 commented on #50
@singgihmardianto mybe if the printer supports esc pos commands...

[2018-04-17 08:43] #52 closed

[2018-04-17 08:45] Klemen1337 commented on #51
@AnuSheeba hi, what version of node are you using? fs is part of node. If you are using a never version it might not work.

[2018-04-17 08:46] #37 closed

[2018-04-17 08:46] #19 closed

[2018-04-17 08:46] #29 closed

[2018-04-17 08:46] #38 closed

[2018-04-17 08:47] #25 closed

[2018-04-17 08:47] #24 closed

[2018-04-17 08:49] #34 closed

[2018-04-17 08:49] #36 closed

[2018-04-17 08:49] #43 closed

[2018-04-17 08:49] #51 closed

[2018-04-17 08:50] #21 closed

[2018-04-17 08:50] #26 closed

[2018-04-19 08:14] qjdice opened #57 "Print Chinese Garbled!"
I want to print chinese but print out the Garbled.
English Is OK.

this is my code:

`var printers = require("node-thermal-printer");`
`printers.init({`
 ` type: 'epson',`
`  interface: 'printer:' + printer.getPrinters()[0].name,`
 ` characterSet:'CHINA'`
`});
`
`printers.alignCenter();`
`printers.println(iconv.encode('--------测试打印----------','GBK'));`
`printers.println(iconv.encode('--------测试打印-

[2018-04-28 15:48] alanzhaonys commented on #57
Hi, your printer needs to support Chinese character.

[2018-05-08 12:09] jcerdan opened #58 "Linux problem printer port /dev/usb/lpN"
Hi,
I'm facing a problem I can't solve. Each time I boot my Ubuntu Mate 18.04 systema, port for usb printer (Epson TM-T20II) changes,

currently it's
crw-rw---- 1 root lp   180, 1 may  8 12:15 lp1

but if I reboot, it can change to lp0 or lp2 or anything else [0-9]...

I have added a dev rule:
$ cat /etc/udev/rules.d/99-myprinters.rules
SUBSYSTEM=="usb", ATTRS{idVendor}=="04b8", ATTRS{idProduct}==

[2018-05-24 05:34] alanzhaonys opened #59 "Can you make the "timeout" configureable in the NetPrint function?"
Can you make the "timeout" configureable in the NetPrint function?

I found myself getting too many Error: Socket Timeout error. 3 seconds might not be sufficient for network printers.

Thanks in advance

function NetPrint(host, port) {   this.timeout = 3000;
....

[2018-06-01 11:27] rajawat24 opened #60 "Can we convert this module with react native compatible"
I have a mobile application in iOS and Android and i want to manage printer via my mobile using react native technologies. so can we convert this module as react native module. if not so what are the reason if possible

[2018-06-07 07:38] keerthi158 opened #61 "tableCustom - Same character is printed in first and second line, if the text is not accommodate in first line"
Hi,
 I have the table with three columns like Column1, Column2, Column3.
If the text of column has more characters, it prints the last character of first line in first character of second line ie same character printed twice.
**EXAMPLE:**
**Expected Output :**
       Chicken Fried Rice With Curry    1    100
**Actual Output :**
       Chicken Fried Rice With C    1    100

[2018-06-07 08:04] keerthi158 opened #62 "How to generate multiple print copies and print same content to multiple printer"
Hi,
I have used this package and it is working good. I have some requirement in printing as below.
1) How could I print multiple copies(2,3,4 etc) of **same content**?
2) Is there any way to send the **same content to multiple printers**?
Please guide me to sort out this issues.
Thanks.

[2018-06-11 18:14] rohanisme opened #63 "Interface Issue"
What should be the interface name given in windows computer..?
Can someone please help me out thanx!!

[2018-06-13 08:32] keerthi158 commented on #63
you just provide the printer name. For me, I have installed the printer name as "My Thermal Printer" and configured like below.

printer.init({
        type: 'epson',
        interface: 'printer:My Thermal Printer'
        });

[2018-06-14 12:00] keerthi158 opened #64 "printer.isPrinterConnected() return "not connected" alert two times"
I am printing over WiFi.
If the printer is off, the callback is triggered two times. Here "printer is not connected! Please check it!." alert is showing two times.

Sometimes, Even In the printer ON condition, "printer is not connected! Please check it!." alert is showing after that printing has happening.(Print done alert).

Does it actual behavior or bug?

    `printer.isPrinterConnected(functio

[2018-07-02 22:31] Klemen1337 commented on #64
@keerthi158 I'm sorry I cannot help you. I haven't tried it with the Wifi printer.

[2018-07-30 09:56] jvaisaonna opened #66 "Font size issue"
Can I have bigger size for the font?
I want the font size is bigger than quad area.

Thank you so much!!!

[2018-08-04 14:17] VyankeshH opened #67 "Print QRCode Buffer inside table."
I am unable to get QRCode using table.

[2018-08-06 05:40] Klemen1337 commented on #62
Hi, did you try the getBuffer()? Save buffer and print it multiple times

[2018-08-06 08:08] Klemen1337 commented on #66
@jvaisaonna it is a printer limitation.

[2018-08-06 08:08] #66 closed

[2018-08-06 08:09] Klemen1337 commented on #67
@VyankeshH can you tell me more about what you are trying to do and post a code snippet.

[2018-08-06 08:16] jvaisaonna commented on #66
I found the solution on epson website.
I added following code to epsonConfig.js for customize the font size from size 0 to 7.

[2018-08-06 12:00] VyankeshH commented on #67
@Klemen1337
var qrBuffer =  getQRCodeBufferData (qrCodeString , version, level, size);
where I got buffer data which I want to print on my bluetooth thermal printer.But I also want to table data should also with QRCode.So how can I print this.

[2018-08-08 12:08] itelo opened #68 "debug"
there is any way of print in pdf to debug? maybe put `interface: "debug"`, then generate a pdf instead of print to thermal printer

[2018-08-10 14:48] Klemen1337 commented on #68
@itelo nope. Print to the printer 😄

[2018-08-10 14:48] #68 closed

[2018-08-10 14:49] Klemen1337 commented on #67
Currently it is not possible. Tables only work with text

[2018-08-10 14:49] #67 closed

[2018-08-10 14:51] #63 closed

[2018-08-10 15:00] #62 closed

[2018-08-10 15:01] #57 closed

[2018-08-10 15:01] #10 closed

[2018-08-10 15:01] #60 closed

[2018-08-10 15:02] #50 closed

[2018-08-20 07:47] Miguel-Frazao opened #70 "Printing euro sign (€)"
I have been trying to add the euro sign in the output of the printer but with no success, is it possible to integrate it? If yes, How? https://www.fileformat.info/info/unicode/char/20ac/index.htm

[2018-08-21 08:16] Klemen1337 commented on #70
What printer do you have?

[2018-08-21 18:55] Miguel-Frazao commented on #70
I have a Birch BP T3, and it's configured like an epson:

[code]

It's was printing with the old software that we had, made in .NET (c#), but we decided to upgrade it to this one.

[2018-08-23 17:14] jevillC4 opened #71 "repeated character"
# repeated character
I had a problem with the character impression and it was given to the moment when I made the impression and a line break repeated the last character at the beginning of the new line,
this was given in the `tableCustom` function of **core.js**

I was not controlling it, I went through a bit and found a solution that I describe
the variable `cellWidth` receives a limit that is `

[2018-08-24 23:53] jevillC4 commented on #61
@keerthi158  I have left a solution reviews the issues **repeated character**

[2018-08-26 03:45] 503Dev opened #72 "Formatting Issues"
Environment: Windows x64
Printer: POS58 (58mm Epson based thermal)
Line width: 48

When using the "left-right" and "table" print methods the farthest right item is always dropped to the next line even with short text, even when there is enough room.

Printing images with center align results in a left justification always.

Additionally, if I use the custom table as per below:
`            printer

[2018-08-30 22:26] sanzhardanybayev opened #73 "For those who has Issue with Cyrrilic encoding issues"
Use **iconv** package to encode properly.
`npm install iconv`

**Example**:

[code]

[2018-08-30 22:27] #73 closed

[2018-09-05 12:17] manueljtejada commented on #55
@keerthi158 were you able to find a fix for this?

[2018-09-06 06:43] thamjieying commented on #33
I can't print image as well, does anyone know what is the problem?

[2018-09-10 06:49] efendyklb opened #74 "With ReactJs"
hi can you guide me for using this with reactjs web application? sorry i am beginner for react and node

[2018-09-13 14:56] msedek commented on #61
[code]

would be nice if the developer upload the fix to the bug.. this line  `obj.text = obj.text.substring(0, cellWidth-1); `cellWidth does not have the -1 in the original code.. but I have debugged to the point I found that was the culprit.. so requesting the developer to fix the source so everyone keep enjoying the best thermal printer library, cheers

[2018-09-15 21:41] lilyyang88 commented on #56
Having the sam problem, how can I tell if the port is blocked or nothing is listening?

[2018-09-18 01:03] philyoosays commented on #56
I am getting the same on a POSBANK A7 (runs Epson). I can print the first time after I turn the printer off and on but only if the print code is in a separate script as opposed to called by my express server. If I try to run the print code from my express server, I always get isPrinterConnected true but ECONNREFUSED as well. Any attempt to print from my separate script after the first print causes

[2018-09-18 02:39] philyoosays commented on #56
@lilyyang88 @burakkilic  @keerthi158
So I just solved the ECONNREFUSED issue. The issue seems to stem from the isPrinterConnected method. I commented out that method call and I was able to print freely to the printer. Hope this helps!

[2018-09-19 01:39] pholmesp opened #75 "Chinese Compatiblity"
Hi, I have been trying to print receipts in Chinese with this module, and I have tried to set the parameter "characterSet" to "CHINESE" or "CHINA" or "MANDARIN" to get what I want but none of them worked. Could anybody help? Thanks. @Klemen1337

[2018-09-19 20:13] lilyyang88 commented on #56
There is no more error messages, but still not printing anything...

[2018-09-21 15:20] pporcel opened #77 "how to print in windows? Printer isConnected true but not print."
The connection returns true but the printer does not print. I share the code used. I am work in Electron with Windows 8.
I apologize if I have a typing error, I am using an online translator.

Thanks!

var printer = require("node-thermal-printer");
printer.init({
  type: 'epson',
  interface: 'ESDPRT001',
  printer: 'auto'
});

printer.alignCenter();
printer.println("Hello world");
printer.printQR

[2018-09-21 19:27] pporcel commented on #55
Any solution?

[2018-09-26 22:44] kozmoz commented on #70
Tested with an **Epson TM-T88V**

Before you're able to print the Euro currency sign €, set the code page to a page that supports the Euro. e.g. code page ISO8859-15 (code 40):

`printer.add(new Buffer([0x1b, 0x74, 40]));`

After that you can print the Euro currency sign by sending code 164 directly to the printer:

`printer.add(new Buffer([164]))`

Or let the library handle the Euro currency sign

[2018-09-27 06:51] kozmoz commented on #72
You can set the width for the printer during the init step, see the example below.

Also to prevent rounding issues, it's better to write **1/3**, instead of **0.33** for the cell width.

But even then sometimes the total width is a character off. I think the `tableCustom()` function needs some improvements in that area.

[code]

[2018-10-04 13:46] Cesarlachapelle commented on #77
Same here, I cant print on windows, and I have the same code, i have the TM-T20II

[2018-10-06 18:56] ludi81 opened #78 "how can I detect paper empty"
hi,

I used this library to print an invoice (within an exhibition) with an epson printer. everything works fine. Sometimes the paper gets empty and we need some time to replace it (e.g. 1 hour).

After replacing the paper it will print  plenty of invoices (more then generated jobs). It seams, that the library starts one job multiple times.
Is it possible to clear all printer jobs? Or can I ask th

[2018-10-10 17:54] mo-g commented on #70
Worth a patch to allow codepage to be set more cleanly? Currently, one needs to use manual ESC/POS commands over Buffer, as you describe it (thanks for doing so, by the way!).

It would make sense to me to have the codepage be settable by name, like setting the characterset - and possibly setting some special character values automagically based on the codepage chosen.

Also, small criticism of yo

[2018-10-11 09:30] TheJotne opened #79 "Init Interface"
Hello
I try to get the module to work since a few days.
I use interface: 'printer:Thermalprinter', to init the printer but it doesn't work. I work on ubuntu and could not find a dev/usb/lp path so i tried the printer module.
Can someone show me a complete js file where the init trough printer worked?
many thanks

[2018-10-11 09:57] kozmoz commented on #70
Was indeed thinking about creating a PR for setting the codepage. Or even better, let the library do the translation from UTF-8 to the right character completely automatic. It's 2018 though! Why should the software that uses this library still use characters sets and codepages to print different characters. imho it doesn't make sense.

Thanks for mentioning codepage 19. that codepage doesn't break

[2018-10-12 21:07] kozmoz commented on #70
`escpos-php` does something similar.

At initialization, the the code page needs to be selected. After that, it tries to match all UTF characters to this code page. Characters without a match are printed as space. So eg if the user selects a code page that supports the Euro currency symbol, it will make the translation from Euro in text to the correct code automatically. No need to find and print

[2018-10-12 21:16] mo-g commented on #70
What would be the latency cost of picking the code page on a character by character basis?

texttexttextspecialcharactertext-changecodepage-specialcharacter-changecodepage-specialcharacter-changecodepage-specialcharactertexttexttext. There could be a complete codepage reverse lookup table - on a unicode character outside ASCII, the library checks if it's in the current codepage and if not; changes

[2018-10-13 10:56] jevy-wangfei commented on #57
Hi,

Did you resolve the problem? I have the same problem, and I pretty sure that my printer char code setting is Chinese(BIG5).

Yours' Jevy Wang

[2018-10-13 17:30] KakarN commented on #7
@kkaptan I was trying to `cut()` and `partialCut()` using the same method as yours, but, neither of those commands worked. Did it work for you? If it helps, I am using EPSON TM_T82 S_A, via USB.
[code]

[2018-10-14 10:34] KakarN opened #80 "Cannot print Image"
I am trying to print an image using this library and the node-print library.

[code]

But it does not print an image, instead I am getting an error:

[code]

Can you please help me figure out what's wrong? Please note, I am not running this as an electron app.

[2018-10-14 10:41] KakarN commented on #7
@kkaptan Yep! That was it. Thanks! Although, I am unable to print an image. How did you figure out to print the image? I would really appricitate your help. Thank you.

This is the snippet:

[code]

But it does not print an image, instead I am getting an error:

[code]

[2018-10-14 16:30] kozmoz commented on #70
I've created a Proof of Concept: https://github.com/kozmoz/node-thermal-printer/tree/find-codepage-automatically-iconv

Works like a charm for my Epson.

[2018-10-14 18:31] fdelavra commented on #60
Is there news about that? thanks

[2018-10-15 09:13] Cattpot commented on #70
which characterSet are you using in the init?

[2018-10-15 09:28] Cattpot commented on #70
TM-20ii
Im using your example with my ip, I get a ñ instead of €.
How to set a "code page"?

[2018-10-15 09:51] kozmoz commented on #70
Somehow the code page of the printer doesn't change, it's stuck in code page 0, hence the ñ.

The code below sets code page to 40 (ISO8859-15 encoding):
[code]

Code page 19 for example also contains an Euro sign:
[code]

[2018-10-15 11:01] Cattpot commented on #70
Thanks very much!

[code]

Somehow the line was at the end.
Put it to the front. Now the € is working.

`printer.drawLine()`
is now writing ÄÄÄ.

[2018-10-16 05:56] qjdice commented on #57
I modified the source code need a iconv-lite module
add code to node-thermal-printer/lib/core.js

[code]
and println:function(){}

[code]

used

[code]

[2018-11-04 18:30] KhanMaytok commented on #77
Hi. I can print in windows. I installed "printer" module for detect the printer . This is the code:

[code]

Then, in the config:

[code]

I have the TM-T20II too

[2018-11-05 10:41] sineth855 opened #82 "How to add image on receipt"
Thanks for this sharing,
I have an issue, cannot add logo on receipt printer.

[2018-11-06 04:22] sineth855 opened #83 "Character Set Not Support Multiple Language."
Hi, I have problem with character set not support multiple languages.
Could any body help me?

[2018-11-06 07:30] sineth855 commented on #75
I found the sample problem as u, how is your research?

[2018-11-22 09:34] shyammtp commented on #80
Try to Execute the print inside the image Callback.
[code]

[2018-11-30 05:48] shajunr88 opened #86 "Not Working with epson printer"
I am using EPSON TM-T82 thermal printer.When connected using USB,It shows connected message in my node app.But when trying to print,it does not print anything.I need to know whether this library is compatible only with intelligent printers (ie. TM-T82 i versions).

[2018-12-04 15:44] anujmv commented on #86
It works fine. I use node printer to detect printer and use this library to generate raw file.

[2018-12-06 21:39] SamuelMorales commented on #78
Im having the same issue, looking a fork of this proyect I saw that they supported the getStatus and ABS method that query for paper issues and status changes, they where right after the isPrinterConnected() method, but it seems that epson deprecated the instruction on wich this method was based on. I think this is the reason why this library does not support it anymore.  Anyways, looking at epson

[2018-12-06 23:22] ludi81 commented on #78
Hi,
I changed the file.js file. They use write-file-queue which retries  the printing job several times.

`var writeFile = require("write-file-queue")({
  retries : 1000, 						    // number of write attempts before failing
  waitTime : 200 					        // number of milliseconds to wait between write attempts
  //, debug : console.error 			// optionally pass a function to do dump debug information

[2018-12-07 15:38] ludi81 commented on #78
The idea is good, but in my opinion it will not work.
Your idea will only work if the paper gets empty in the first dummy print. If it gets empty during the real print you get stuck. I created a timeout (e.g. 2 second). If the job is not done during this time I show a message on the screen (to change the paper).
My solution is not perfekt, but it does the job. If you finde a better way, please let

[2018-12-07 16:08] SamuelMorales commented on #78
Yes, your solution is better because you signal the error as soon as the printer runs out of paper. I think a combination of yours and mine will be most complete in the sense that mine will prevent any print being done if the printer is out of paper at any time e.g. just after lunching the program with no paper in the printer and no jobs in queue, and yours will make the signal just after the pape

[2018-12-07 16:39] ludi81 commented on #78
Give it a try. I am not sure if yours will prevent any prints if the printer is out of paper.

for example:
1) you print the dummy line --> paper is not empty
2) you print the real printing --> paper gets during this print empty and the code will not return.
3) a person replaces the paper
4) your real printing will be printed

In this case your dummy line has not the effect as you wanted and descr

[2018-12-07 17:03] SamuelMorales commented on #78
I might have missunderstood what you ment with the timeout you said before. The current print job wont be done if a previous job is in queue and it is preventing the current job from starting, so thats when the write method you said before returns error? So if out of paper in the middle of a printing, there's no error?. In a nutshell, can we check for running out of paper as soon as it happens or

[2018-12-07 17:14] ludi81 commented on #78
Yes, I can detect no paper after a couple of seconds (It is not necessary to start a next job). I will try to explain it in other words:

A) you have to change the file.js code from var writeFile = require("write-file-queue") to use var fs = require("fs"); Otherwise the library tries to print the printing several times and after filling up the paper you will print a couple of prints, instead only

[2018-12-07 17:34] SamuelMorales commented on #78
Thank's for the explanation!, now I understand what you ment before. I will give it a try and see how it goes. If I find other way I'll let you know.

[2019-01-09 14:36] vinhtien opened #87 "Can I use this to print on a Web browser independent operating system?"
Hello,

I found your interesting source code for printing with Epson thermal printer.

However, I just have a small question that if I intend to use a HTML loaded on a Web browser and this trigger the print through your javascript codes, is it possible? Because it will not possible for me to install dependencies on the device loading this HTML. But include the lib through <script> is indeed ok.

[2019-01-14 15:42] danielgoodwin commented on #86
I had similar issue with EPSON TM7011 on USB on OSX, so following may be useful for someone else
Steps I did to resolve
- Installed EPSON driver  see https://download.epson-biz.com/modules/pos/index.php?page=single_soft&cid=4226&scat=33&pcat=3
- from command line to get CUPS web interface operational ( cupsctl WebInterface=yes )
- connect to http://localhost:631
- setup printer from Administration

[2019-01-14 17:44] igorbag opened #88 "Node Thermal with VueJs Integration"
Hello everyone.

Is it possible to integrate this lib with the VueJs?

Has anyone used anything related?

[2019-01-14 20:58] kozmoz commented on #88
It needs to run on Node, so it can access the printer. It is not running in the browser, like Vue.js is.

I use AngularJS as the front-end layer within an Electron app (the front-end part runs in the Chrome layer). node-thermal-printer is running in the Node proces of the app and the frontend communicates with it using events.

https://electronjs.org

[2019-01-15 13:32] igorbag commented on #88
Hello, @kozmoz!!

thanks for help.

In my case, i use ElectronJs and VueJs to Front-end layer.

Could you tell me how to integrate the printer with the Electron and later how to use it in VueJs or Angular?

[2019-01-15 15:39] kozmoz commented on #88
From the frontend you can use the ipcService to send messages to the Node process.
The pinter library lives in the Node layer. In short:

Front-end JS (Angular or Vue):
[code]

And in the main.js file (Node):
[code]

The printService looks like this:
[code]

I left out the code for the Promises and also didn't include the listeners for the "printOrderSuccessResponse" to detect if printing was succ

[2019-01-15 15:45] igorbag commented on #88
Awesome @kozmoz , thanks a lot for your help.

[2019-01-17 19:19] ramses132 opened #89 "what type printer I should use with NCR"
I am trying to use NCR printer? can I set this?

[2019-01-21 21:40] Dragonarka opened #90 "can i read the printer spooler?"
hi, I am trying to know if there are any print in the queue

[2019-01-22 11:46] Klemen1337 commented on #89
If it supports [ESC/P](https://en.wikipedia.org/wiki/ESC/P) codes then yes.

[2019-01-22 11:46] #89 closed

[2019-01-22 11:46] Klemen1337 commented on #90
Printer queue is not a part of this library

[2019-01-22 11:46] #90 closed

[2019-01-22 11:47] #88 closed

[2019-01-22 11:48] Klemen1337 commented on #87
This is a [NodeJS](https://nodejs.org/en/about/) module.

[2019-01-22 11:48] #87 closed

[2019-01-22 11:49] #70 closed

[2019-01-22 11:52] Klemen1337 commented on #74
This is a [NodeJs](https://nodejs.org/en/about/) module. If you are using [Electon](https://electronjs.org/) or [NWJS](https://nwjs.io/) then you can use it with react

[2019-01-22 11:52] #74 closed

[2019-01-22 11:53] #78 closed

[2019-01-22 11:55] #54 closed

[2019-01-22 12:10] Klemen1337 commented on #82
Check examples

[2019-01-22 12:10] #82 closed

[2019-01-28 06:49] hadeeb commented on #59
@Klemen1337 any updates on this?

I have an implementation [here](https://github.com/hadeeb/node-thermal-printer/commit/c964d657e9406696c93b749ccbfac83a3028dfb4)

If this is ok, I'm happy to raise a PR

[2019-01-29 18:45] alanzhaonys commented on #59
Please raise a PR. Thanks

[2019-02-17 22:19] kozmoz commented on #64
Experiencing the same issue with my network printer. It appears that the timeout is triggering even if the connection is already successful established. Will create a path to have this fixed.

[2019-02-18 19:36] MarioRozic opened #93 "Electron build 32 bit fail to run"
So I am using this module for the [Electron](https://github.com/electron/electron) to print some stuff with POS printer, and it works fine when I run it in dev mode, but as soon as I build a 32bit version of that  code for Windows, I got an error pointing that this module is missing, which is strange because 64Bit version works perfectly.

![Error Image](https://i.imgur.com/Xe4tIn2.png)

Here is c

[2019-02-19 09:21] Klemen1337 commented on #93
This package does not need to be rebuilt. Looks like a different npm package.

[2019-02-19 09:28] MarioRozic commented on #93
Actually, the app is passing the build, this happens only when I execute `exe` file made by electron-packager!

[2019-02-20 08:48] SloInfinity commented on #93
@MarioRozic you opened the ticket on the wrong package lib. Based on the error message you can clearly see that the issue is not the Node-thermal-printer library but rather the Node-printer. You might want to check this issue https://github.com/tojocky/node-printer/issues/167 which is a similar issue you are having.

[2019-02-20 08:48] #93 closed

[2019-02-20 08:50] SloInfinity commented on #79
Please see examples https://github.com/Klemen1337/node-thermal-printer/tree/master/examples

[2019-02-20 08:50] #79 closed

[2019-02-20 09:13] SloInfinity commented on #80
As you can see from the error report, the issue is clearly with opening the image file, and the stack trace you provided does not include any mentions on the node-thermal-printer lib.
If you have more data to provide, please reopen the ticket and provide the data needed.

[2019-02-20 09:13] #80 closed

[2019-02-20 12:52] Klemen1337 commented on #61
Duplicate #71

[2019-02-20 12:52] #61 closed

[2019-02-20 12:54] #22 closed

[2019-02-20 12:54] #71 closed

[2019-02-20 18:23] zeoliveirajunior opened #94 "Print multiple printers"
Hi,

I have 3 printers on my network, and i need to print on 3 at same time. I check the code of thermal print, and i see that the lib shares the same buffer, and the only solution to print in more than one printer is to create a semaphore, but this solution creates a slowness in the print process.

Is there anyway to print in more then one printer at same time?

Thanks in advance

[2019-02-20 22:01] VizeteuAndrei opened #95 "Typo results in: ReferenceError: exist is not defined"
https://github.com/Klemen1337/node-thermal-printer/blob/4ba41e3e4808346738c858af41b2eae382ea4997/interfaces/file.js#L31

Please fix the typo. It should be `resolve(exists);`

[2019-02-21 07:46] #95 closed

[2019-02-21 07:54] Klemen1337 commented on #94
Try it like this.

[code]

[2019-02-22 03:15] #44 closed

[2019-02-26 12:08] Klemen1337 commented on #23
Fixed in 4.0.0-alpha

[2019-02-26 12:08] #23 closed

[2019-02-26 12:09] Klemen1337 commented on #2
Network printing is supported

[2019-02-26 12:09] #2 closed

[2019-02-26 12:10] Klemen1337 commented on #64
Fixed in 4.0.0-alpha

[2019-02-26 12:10] #64 closed

[2019-02-26 16:08] dmrtx opened #96 "Reference to config variable in epson.js file"
In the file `node-thermal-printer/lib/types/epson.js` in the function `printQR()` in line 49 and 67 there is an error referencing the config variable.

`this.append(config[i]);`

[2019-02-27 13:22] #96 closed

[2019-02-27 13:23] Klemen1337 commented on #94
See [multiple printers example](https://github.com/Klemen1337/node-thermal-printer/blob/master/examples/multiple-pritners.js)

[2019-02-27 13:23] #94 closed

[2019-02-28 13:02] #33 closed

[2019-02-28 13:02] #56 closed

[2019-02-28 13:02] #55 closed

[2019-02-28 13:02] #72 closed

[2019-02-28 13:02] #83 closed

[2019-02-28 13:02] #77 closed

[2019-02-28 13:02] #75 closed

[2019-03-08 06:19] msariman-rko commented on #45
Hi blair,
   I have a TSP100 LAN too, do u have a sample code that u manage to print?

[2019-03-13 14:23] shamilbuzz opened #97 "Error: The specified module could not be found."
**When I try to print it says the following, but the file is in specified path already.
OS: Windows 10, node  v10.15.1, npm v6.8.0**

`node_modules\electron-printer\build\Release\electron-v0.36-win32-x64\node_printer.node
    at process.module.(:9080/anonymous function) [as dlopen] (ELECTRON_ASAR.js:160:31)
    at Object.Module._extensions..node (internal/modules/cjs/loader.js:722)
    at Object.m

[2019-03-18 11:27] Klemen1337 commented on #97
Please open issue electron-printer npm module

[2019-03-18 11:27] #97 closed

[2019-04-01 12:26] yalim opened #98 "fs module not found"
Hi, I am trying to use the plugin for EPSON printer for an Android app using nativescript but I receive follwing error:

[code]
my node version is v10.15.3

I thought about removing fs requirement since I don't intend to print images but later I noticed it is also required for isPrinterConnected(). Is there a way to solve this issue?

Thanks

[2019-04-01 20:46] jameslaydigital commented on #45
Shouldn't have anything to do with Linux.  My coworkers and I discovered the TSP100 works in raster mode, so you can print a raster image then use the raster cut command.  Line-mode commands don't work.

[2019-04-01 20:50] msariman-rko commented on #45
Is there a sample JAVA code snippets and a jar library for developing raster mode?

Thanks

From: jameslaydigital <notifications@github.com>
Sent: April 1, 2019 1:47 PM
To: Klemen1337/node-thermal-printer <node-thermal-printer@noreply.github.com>
Cc: Mohamad Sariman <msariman@rkosolutions.com>; Comment <comment@noreply.github.com>
Subject: Re: [Klemen1337/node-thermal-printer] Star TSP100 (143 LAN

[2019-04-01 20:52] jameslaydigital opened #99 "Star TSP600: printImage() only partially prints; then prints rest after several minutes"
On Windows 10, using the TCP interface, I'm trying to issue the following:

    let printer = new ThermalPrinter({
        type: PrinterTypes.STAR,
        interface: 'tcp://10.1.10.40'
    });
    await printer.printImage('z.png');
    console.log(printer.getBuffer().length); // 104623 <- comes back almost immediately
    printer.cut();
    printer.execute();

What happens is it prints about one

[2019-04-02 04:34] jameslaydigital commented on #45
@msariman-rko I don't know. Try printing an image and see if that works - printing an image uses raster commands.  If that's the case, you should be able to bake your whole receipt into an image and send that to the printer...

[2019-04-02 15:38] jameslaydigital commented on #99
I think I've made some progress.  If I try to print a smaller image, it will print entirely and even perform the following cut command.  Once the image reaches a certain size it will only partially print the image until I either wait or push more raster commands through.  It will not process any line-commands afterwards until I restart the printer.

[2019-04-04 08:51] yalim commented on #98
I ended up removing all require('fs') and related functions but it still gives the same error. Do you know if any of the dependencies also need 'fs' to run?

[2019-04-10 09:56] infinitetrinity opened #100 "Cannot change linechar"
Hi,

I have tried the following but could not change the character used for drawing line.

[code]

[2019-04-10 12:06] infinitetrinity opened #101 "Epson setting character size"
Anyone know how to set the character size for Epson printer? I need it to be larger than setTextQuadArea.

I have been referring to https://reference.epson-biz.com/modules/ref_escpos/index.php?content_id=34 but did not get any success.
Thank you

[2019-04-11 09:03] #100 closed

[2019-04-11 09:03] Klemen1337 commented on #100
@infinitetrinity fixed and renamed to "lineCharacter"

[2019-04-11 09:53] Klemen1337 commented on #101
@infinitetrinity added setFontSize(height, width) function

[2019-04-11 09:53] #101 closed

[2019-04-11 17:02] jameslaydigital commented on #99
I've discovered a workaround.  If you send the buffer down the line in chunks instead of all at the same time, it works.  For instance, instead of printer.execute(), I'll manually push 2048-byte chunks from printer.getBuffer() about 5ms apart down a manual tcp connection to the printer.  Not sure if this should be closed, unless I'm the only one who has had this issue.

[2019-04-26 19:29] johnvelasquezA opened #102 "ThermalPrinter allow to choose either 'printer' or 'electron-printer'"
Can we have an option to choose either **printer** or **electron-printer** for `ThermalPrinter`

[2019-04-26 19:48] johnvelasquezA commented on #102
okay i figure it out you can do

`interface: 'printer:printerName/printer'`

[2019-04-26 19:48] #102 closed

[2019-04-27 00:55] Anberm opened #103 "win10 Cannot print large image，it will be garbled"
I used win10 system to run examples/image.js on the 80mm thermal printer, and replaced olaii-logo-black-small-png with olaii-logo-black-png, which would print garbled code

[2019-05-01 16:10] #86 closed

[2019-05-08 13:48] lolohamido opened #104 "how it work in ionic 3"
can u provide how it work in ionic 3
thanks

[2019-05-09 09:12] Klemen1337 commented on #104
This library requires nodejs.

[2019-05-09 09:12] #104 closed

[2019-05-10 12:27] Klemen1337 commented on #98
fs is part od nodejs

[2019-05-10 12:27] #98 closed

[2019-05-20 08:12] infinitetrinity opened #109 "Updating to 4.1 error (webpack_require__(...) is not a function)"
Updating to 4.1 gives me this error

[code]

[2019-06-03 08:06] manhnguyenquoc opened #110 "VIETNAMESE character set doesn't work"
Hi @Klemen1337 , thank you for building this module. I'm from Vietnam and I'm trying to print Vietnamese words but I got the font error paper after printing.

For example:
I would like to print "Công ty Cổ phần Viễn thông VNNET" and here is what I get:
![1231](https://user-images.githubusercontent.com/22399058/58786079-02242500-8611-11e9-8dd3-c97e8e25f863.jpg)

My code:
![12312](https://user-image

[2019-06-10 15:09] kiritoxcii opened #111 "Unicode characters support, ex: '₡'"
Maybe it supports it but I just get a '?' symbol when trying to print  this '₡' character, is there any way to print this character?

[2019-06-12 20:38] Tea-Ice opened #112 "Node 12 - Printer Driver"
The printer package no longer builds properly for node 12 - the upgrades in v8 cause errors. Are there any alternatives I can use? Something that works with linux, alpine, mac and windows?

[2019-06-14 01:28] asnawisaharuddin opened #113 "Type error on typescript"
Unable to compile using typescript.

Error :
`node_modules/node-thermal-printer/node-thermal-printer.d.ts:18:14 - error TS2314: Generic type 'Promise<T>' requires 1 type argument(s).`

Probably need to specify return type of Promise<void | any>.

[2019-06-21 06:52] hadeeb commented on #113
Type-definitions are out of sync with the changes in `v4`.

@Klemen1337 do you mind if I take up updating type-definitions?

[2019-06-25 16:20] chunkitmax commented on #113
I have updated for typescript but I also renamed class printer and enum printerTypes.
Plase check [https://github.com/chunkitmax/node-thermal-printer](https://github.com/chunkitmax/node-thermal-printer)

[2019-06-25 17:15] madrojudi commented on #97
Hello, Please have you got the solution? I have same problem one month ago.
Thanks

[2019-06-26 10:39] Rethishcr opened #114 "Module not found: Error: Can't resolve '../node-thermal-printer'"
Am trying add printer that time shows error
Module not found: Error: Can't resolve '../node-thermal-printer'

[2019-06-27 11:18] Klemen1337 commented on #114
remove "../"

[2019-06-27 11:18] #114 closed

[2019-06-27 11:28] Klemen1337 commented on #112
@Tea-Ice what are the errors? Works fine for me.

[2019-06-27 11:33] Klemen1337 commented on #109
@infinitetrinity I need more informations about this error. This might help you [https://stackoverflow.com/questions/40873599/typeerror-webpack-require-i-is-not-a-function](https://stackoverflow.com/questions/40873599/typeerror-webpack-require-i-is-not-a-function)

[2019-06-27 11:34] Klemen1337 commented on #103
@Anberm what is the name of the thermal printer, what type of printer is it (eprson or star)?

[2019-06-27 11:35] Klemen1337 commented on #99
@jameslaydigital good work around. Network printing might have to be done like that.

[2019-06-27 11:51] Anberm commented on #103
@Klemen1337 EPSON ,I printed it by slicing up the picture into small pictures, and it worked

[2019-06-27 11:52] hadeeb commented on #113
@chunkitmax , I noticed you have multiple changes in your fork.
So, I created a [PR](https://github.com/Klemen1337/node-thermal-printer/pull/115) with type definition updates.
Will please you go through it?

[2019-06-27 13:07] chunkitmax commented on #113
@hadeeb, I did not check those missing methods so your updates are more complete. I think your PR is good to be merged.

[2019-06-27 14:30] Klemen1337 commented on #113
I don't know how i missed this, but I worked on it today 😄

[2019-06-28 07:13] #113 closed

[2019-06-28 09:51] Klemen1337 commented on #103
@Anberm Can you tell me how you did it?

[2019-07-01 00:39] Anberm commented on #103
@Klemen1337 This is a problem of node-printer, so I will provide a reference solution：
 var dataBuffer = new Buffer(base64Data, 'base64');

  let PNG = require('pngjs').PNG;
  var png = PNG.sync.read(dataBuffer);
  var amp = 200;
  var dpi = parseInt(png.height / png.width);
  var pwidth = png.width + amp;
  var pheight = png.height + amp * dpi;
  var wh = 10;
  var len = pheight % wh ? Math.floor

[2019-07-01 09:34] asnawisaharuddin opened #116 "cash"

[2019-07-01 10:52] asnawisaharuddin commented on #116
Sorry...was accidentally press new issue button.

[2019-07-01 10:52] #116 closed

[2019-07-03 14:02] #112 closed

[2019-07-17 10:13] skerit opened #117 "Epson TM-T88III via /dev/ttyUSB0"
Last week I got a new Epson TM-T20II to work with node-thermal-printer over an ethernet connection. It really does work great.

But now I have an older device, an Epson TM-T88III with a serial-port connection. I'm ussing a serial-port-to-usb device to connect it to my computer, so I'm trying to connect to `/dev/ttyUSB0` like this:

[code]

The printer does absolutely nothing.
This script eventuall

[2019-07-18 08:21] tashreek commented on #117
I am experiencing the same issue except I need to integrate with both USB and serial printers. The library indicates that you should use the interface parameter to pass through the name of the printer e.g. printer:Epson-TM-BA-Thermal which works for me. This however requires the https://www.npmjs.com/package/printer module but it has a ton of build errors and hasn't been updated in 3 years. This i

[2019-07-18 08:28] skerit commented on #117
Ok, I finally got it to work!

In order to connect the printer to a computer via the serial port you need a nullmodem cable. That was my first issue. I bought a little adapter (Null Modem Sub-D 9 pin male » female) which turns an existing, regular serial cable into a nullmodem cable. From there on out, I was able to send commands to the printer!

The other problem is in the "file" implementation o

[2019-07-18 08:31] skerit commented on #117
@tashreek Using the `printer:` route might seem like a good idea, especially on windows, but on Linux it seems more like a pain. I couldn't get neither of my printers to work properly via CUPS. A direct connection is way faster and less error prone as it just cuts out the CUPS middle-man.

[2019-07-18 10:54] skerit commented on #117
Well, unfortunately I only have an RS232 and an ethernet printer to test on, but if issue #58 is any indication it should all work the same way: just use it as a file, but with the `appendFile` modification.

The easiest way to test if this would work is to simply echo to the device file, like:

[code]

Other device files could be `/dev/usb/lp0` for usb printers? Don't know where parallel ports wo

[2019-07-22 09:47] infinitetrinity commented on #109
Update on this. This is a issue with iconv-lite when use for electron app.
Check here https://github.com/ashtuchkin/iconv-lite/issues/205 for more info.

[2019-07-22 10:08] infinitetrinity commented on #109
Closed by accident. Can @Klemen1337 check on the link i mentioned and see if there's any workaround for us who use this for electron vue app? Thank you

[2019-08-14 12:57] nielsrobin opened #119 "Support for Danish Character Set"
Hi, I've tried every Character Set on the list, but none of them seem to support Æ Ø Å (Danish), how do I add another character set and/or could UTF-8 be added somehow?

	printer.init({
		type: printer.printerTypes.STAR,
		interface: 'printer:' + printer_name,
		characterSet: '....'
	})

[2019-08-16 09:05] Klemen1337 commented on #119
Your printer might not support it. What brand and number is it?

[2019-08-16 09:11] nielsrobin commented on #119
Star TSP143IIILAN

[2019-08-22 15:23] mattiabettinsoli98 commented on #55
Any solution?

[2019-09-18 08:40] #110 closed

[2019-09-23 10:16] MaheshEx1990 opened #120 "Cant Resolve Module : node-thermal-printer"
Installed plugin as shown but it not compiling
Throwing error Can't Find Module: node-thermal-printer

[2019-09-25 13:22] Klemen1337 commented on #120
Please provide more information.

[2019-09-25 16:09] #111 closed

[2019-09-26 03:28] artty58 opened #121 "Support electron"

[2019-10-05 17:11] AlbertoCamachoMunoz opened #122 "is posible install node-printer width angular electron?"

[2019-10-08 12:51] MY020537 commented on #110
@manhnguyenquoc Were you able to fix this ?

[2019-10-16 01:24] #103 closed

[2019-10-18 23:25] fnaquira commented on #99
The problem is that you are not giving the callback function.
[code]
As you can see, **printImage** needs a callback, I was having that issue and solved adding that.
Good luck!

[2019-11-01 20:56] ertanatwork opened #123 "How do i know interface of my printer"
Hello, complete newbie here. I've got a Start TSP100. I'll connect it to a windows machine. How do I find the interface of the printer?

[code]

edit: I've checked the examples but apparently you are using terminal input. It's still unclear to me what to give as input.

[2019-11-01 21:15] ertankara commented on #123
Same here... Oh that's me! :) Please helpp :((

[2019-11-02 11:53] #117 closed

[2019-11-07 08:15] potamir commented on #123
actually it already explained in the documentation, but just use `interface: 'printer:your printer name' `or `interface:'printer:auto'` to use default printer in your windows. oh and dont forget to set the driver.
more or less like this:
`let printer = new ThermalPrinter({
      type: Types.EPSON,
      interface: "printer:thermal_printer",
      driver: require("printer"), //you must install prin

[2019-11-07 08:19] potamir commented on #123
actually it already explained in the documentation, but just use `interface: 'printer:your printer name' `or `interface:'printer:auto'` to use default printer in your windows. oh and dont forget to set the driver.
more or less like this:
`let printer = new ThermalPrinter({
      type: PrinterTypes.STAR,
      interface: "printer:thermal_printer", //or auto
      driver: require("printer"), //you m

[2019-11-07 12:34] ertanatwork commented on #123
Thank you very much, ı'll look for more information into docs, I must have missed it.

[2019-11-07 12:34] #123 closed

[2019-11-08 15:27] robbtt commented on #98
@Klemen1337 so what is the fix for this? Thanks!

[2019-11-16 15:59] Sireini opened #124 "Does this library support bluetooth thermal printing?"
I am working with this printer: https://nl.aliexpress.com/item/32949371974.html?spm=a2g0s.9042311.0.0.3ad44c4ddDPgXl

Does this library support bluetooth printing?

[2019-11-19 12:36] Klemen1337 commented on #124
This library only creates data to send to the printer. To send data to the printer I use https://www.npmjs.com/package/printer

[2019-11-19 12:36] #124 closed

[2019-11-19 12:37] Klemen1337 commented on #122
Wrong project

[2019-11-19 12:37] #122 closed

[2019-11-19 12:37] Klemen1337 commented on #121
It is supported.

[2019-11-19 12:37] #121 closed

[2019-11-19 12:37] #120 closed

[2019-11-21 21:42] ertankara opened #125 "Driver is undefined while calling `getPrinter`"
Getting following error when I try to print a page

`"TypeError: Cannot read property 'getPrinter' of undefined"`

The error happens when executing
`/lib/interfaces/printer.js:31`
[code]
Because it doesn't meet the condition in the constructor to set driver.

[code]
I wonder what is supposed to pass as the second argument here and why it may be undefined?
`/lib/interfaces/index.js:17`

[code]

[2019-11-26 07:00] kenguish commented on #109
The problem has to do with iconv-lite, so the only way to "fix" would be to remove the iconv-lite dependency.

Here is my get around, using Vue CLI 3 as suggested https://github.com/ashtuchkin/iconv-lite/issues/204#issuecomment-459221992
At your node_modules/iconv-lite/lib/index.js, at line 144 and 148, add ".js" to the require like this:
<pre>if (nodeVerArr[0] > 0 || nodeVerArr[1] >= 10) {

[2019-11-26 15:18] vadhack commented on #125
Please, i need help with this

[2019-11-26 15:51] vadhack commented on #125
This is the solution:

# file: node-thermal-printer/lib/interfaces/printer.js

class Printer extends Interface {
  constructor(printerName, moduleName) {
    super();
    this.name = printerName;
    if (moduleName && typeof moduleName === "object") {
      this.driver = moduleName;
    } else {
      this.driver = require(moduleName || (this.electron ? "electron-printer" : "printer"));
    }
  }

[2019-11-26 16:13] vadhack opened #126 "setTextSize doesn't work in Epson LX-350"
In example: node-thermal-printer/examples/charsets.js

this is how print when call "printer.setTextSize(height, width)"

!wWow
!his is normal

add a some characters at start in buffer and the text size always is the same,

I used a printer: Epson LX-350

Can someone help me please?

[2019-11-26 16:48] ertankara commented on #125
@vadhack I will try this, thanks for posting ❤️

[2019-11-28 05:10] CHOMNANP opened #127 "Star BSC10 does not print Image correctly"
I'm trying to print the image with printer model Star BSC10. As a result, the image did not print properly as image. The output is look like a random binary string.

![image](https://user-images.githubusercontent.com/5925050/69778696-dbb5ff80-11d7-11ea-8ed1-e3bd0346a919.png)

[code]

Look like an encoding issue. Anyone has similar experience?

[2019-11-28 07:30] CHOMNANP commented on #127
Tried to reproduce this in PHP and found the same issue.
Here's how they fix it.
https://github.com/mike42/escpos-php/issues/222

[2019-12-01 09:49] #119 closed

[2019-12-02 22:47] vadhack commented on #126
Can someone help me?

[2019-12-03 08:10] CHOMNANP commented on #99
Hi @fnaquira, can you share the code that work for your case?
I cannot figure out how this would work.

[2019-12-04 03:29] fnaquira commented on #99
It was hard for me to understand that this function had to read a file, then print it and voilá!
The problem is the original code, it is not a promise, it's just a callback function and you are putting **await** in front of it.
I had to create this:
[code]
Now, when I call the printImage function, it really waits and everything goes right

[2019-12-05 07:51] Klemen1337 commented on #99
@fnaquira you might be using an older version of the node-thermal-printer.
printImage function is async and has no callback.

[2019-12-05 07:53] Klemen1337 commented on #127
@CHOMNANP Not all printers have the same commands. Your printer might have a different print image command.

Tested printers are:
- Star TSP700
- Rongta RP80US
- Rongta RP326-USE
- EPSON TM-T88V
- Posman BTP-R880NP (Type "epson")

[2019-12-05 07:54] Klemen1337 commented on #126
@vadhack Not all printers have the same commands. Your printer might have a different set of commands.

Tested printers are:

- Star TSP700
- Rongta RP80US
- Rongta RP326-USE
- EPSON TM-T88V
- Posman BTP-R880NP (Type "epson")

[2019-12-05 08:01] Klemen1337 commented on #125
@ertankara Can you share your code?

@vadhack The correct way would be to throw an error
[code]

[2019-12-05 10:33] ertankara commented on #125
@Klemen1337

Using the code below in an Electron project.
[code]

[2019-12-05 14:00] vadhack commented on #126
Thanks, do you know where can i get the correct commands?

[2019-12-05 14:11] vadhack commented on #125
@Klemen1337  Yes, I realized,  thank you.

@ertankara the correct way is:
[code]

[2019-12-05 14:18] #125 closed

[2019-12-06 10:25] Klemen1337 commented on #126
@vadhack I found them here [https://reference.epson-biz.com/modules/ref_escpos/index.php?content_id=2](https://reference.epson-biz.com/modules/ref_escpos/index.php?content_id=2)

[2019-12-06 10:25] #126 closed

[2019-12-09 05:32] mahesh-ahir opened #129 "all node modules throwing error of "fs" in react-native"
is there any way to use this lib for react-native cuz it's throwing error that Unable to resolve module `fs` from `node_modules/node-thermal-printer/lib/core.js`: fs could not be found within the project.and it's not only for fs all node modules are throwing error utils,buffer,zlib etc

[2019-12-10 07:29] Oggy1986 commented on #129
I was wondering same thing

    at File.isPrinterConnected (file.js:19)

[2019-12-13 07:54] #8 closed

[2019-12-13 07:58] Klemen1337 commented on #129
React native and NodeJs are completely different things.

[2019-12-13 07:58] #129 closed

[2019-12-20 02:17] wesleyxiao commented on #75
+1, i try to print chinese on tm t88v thermal print also show Garbled, any update?

[2019-12-20 02:55] pholmesp commented on #75
I got the problem solved by doing a little modification on the package source code. I will post the solution later today.

[2019-12-20 12:02] SimantoR commented on #120
I believe you need to build it on your own machine to be able to get that sorted. I might be wrong.

For me, this built the `node-printer` or in npmjs: `printer` module correctly. But node-printer has problems too such as not being able to find the `.node` module built from the native. I changed the `./lib/printer.js` as such on line 6:
`binding_path = './node_modules/printer/lib/node_printer.node

[2019-12-22 10:45] Klemen1337 commented on #120
@SimantoR so your problem was with the "printer" npm package and electron package rebuilding not "node-thermal-printer"?

[2019-12-22 20:15] SimantoR commented on #120
Yes. Had to downgrade electron to 5.0.6 and build printer module using node-gyp to finally get it to work.

[2019-12-25 04:35] buddy-lin opened #130 "Epson Picture Printing Garbled"
When the height of the picture is greater than or equal to 256 pixels, the picture will print garbled code. After testing, it has nothing to do with the amount of data.

[2019-12-25 11:24] Klemen1337 commented on #130
@buddy-lin What printer are you using?

[2019-12-25 11:26] Klemen1337 commented on #120
@SimantoR Yeah rebuilding modules is a pain in the butt

[2019-12-25 11:30] Klemen1337 commented on #109
@kenguish @infinitetrinity I will update the iconv-lite version to v0.5.0 (includes the fix)

[2019-12-25 14:42] buddy-lin commented on #130
Thermal printer.However, pictures with a printing height less than 256 pixels can be printed normally

[2019-12-25 14:43] buddy-lin commented on #130
Thermal printer.
However, pictures with a printing height less than 256 pixels can be printed normally.

[2019-12-25 14:47] buddy-lin commented on #130
And the picture printing is in the middle. I want to use the command to change to left printing but it doesn't work

[2019-12-26 12:21] sanjeevuideveloper opened #131 "EPSON PRINT ISSUE"
if printer is connected and power is off on printer machine, then i want to save my buffer data as pdf file.
is it possible or will i get any any error, please help me?

[2019-12-30 02:02] buddy-lin commented on #130
Is the problem solved?

[2020-01-07 10:26] #109 closed

[2020-01-07 10:41] Klemen1337 commented on #130
So just make image smaller than 256px?

[2020-01-09 10:05] odegraciajr opened #133 "printer.setPrinterDriver(MyCustomDriver) example object"
May i know a sample driver object using `printer.setPrinterDriver(MyCustomDriver)`?

Im using xprinter thermal receipt printer

[2020-01-10 01:12] afranioluizsouzacoelho commented on #7
Hy, I´m from Brasil and i getting a lot of difficult to print on node-thermal-printer. I´ve tried all od thinks above and i get the message **TypeError: fs.existsSync is not a function**.

I´m work in windos 10.

and the definition are:

var thermal_printer = require("node-thermal-printer");
            var printer = require("printer");

            var epson = printer.getPrinter('EPSON_TM_T82_S_A

[2020-01-10 01:27] afranioluizsouzacoelho commented on #7
More information:

TypeError: fs.existsSync is not a function
(anonymous function)
C:/ProjetosVSCode/drugstorereact/node_modules/printer/lib/printer.js:9
   6 |     binding_path = path.resolve(__dirname, './node_printer.node'),
   7 |     printer_helper;
   8 |

  10 |   printer_helper = require(binding_path);
  11 | } else {
  12 |   printer_helper = require('./node_printer_' + process.platform +

[2020-01-11 00:50] piratadelfuturo opened #134 "Printer class gets a string but requires an object."
Why this line gets a string but requires an object?

https://github.com/Klemen1337/node-thermal-printer/blob/a686a0d78effed4c321a1781af30af04755fbbef/lib/interfaces/index.js#L17

[2020-01-11 08:56] buddy-lin commented on #130
Yes，Print as long as the height is less than 256 pixels.

[2020-01-13 13:31] antoniomgatto commented on #134
I  catched the same error here. I will send a pull request to fix this.

[2020-01-13 13:46] antoniomgatto commented on #134
#135

[2020-01-13 14:03] antoniomgatto opened #136 "Remove electron-printer driver from readme"
Hi there !!

Thanks for this amazing module. I am developing a small app for my burger restaurant. So, I need to print the orders kkk

After some tests, I realized that is not necessary to use [electron printer](https://www.npmjs.com/package/electron-printer) anymore. [Node printer](https://www.npmjs.com/package/printer) was updated with electron support out of the box.

[2020-01-13 14:05] antoniomgatto commented on #136
pull request #137

[2020-01-17 14:22] JamshedLatipov opened #138 "Cyrillic characters"
OS: Window 10 64bit
Electron: 7.1.8
Node: 12.9.1

![photo_2020-01-17_19-23-27](https://user-images.githubusercontent.com/4291505/72619397-f9455100-395e-11ea-95fc-7598bb5ce7d6.jpg)
[code]

[2020-01-19 21:11] Muraveiko commented on #138
try characterSet:  'PC866_CYRILLIC2'

[2020-01-20 17:17] JamshedLatipov commented on #138
Thanks for response, but no luck PC866_CYRILLIC2, PC855_CYRILLIC and WPC1251_CYRILLIC.

[2020-01-20 17:25] Muraveiko commented on #138
I am sure that when printing a test page it will be written that the default encoding is GBK. Using the configuration utility from the printer manufacturer, set default for your language.
https://github.com/Klemen1337/node-thermal-printer/blob/master/lib/types/epson-config.js#L57
You need the code page number in the printer for your encoding. For example 17. If it does not match, you will have to

[2020-01-21 05:14] JamshedLatipov commented on #138
@Muraveiko when i runing [](https://github.com/Klemen1337/node-thermal-printer/blob/master/examples/charcode.js) and when i print any char(only one character) it's works perfectly but when i try to pint a string it's prints incorrect. Please help !)

[2020-01-21 05:56] Muraveiko commented on #138
GBK is a 2-byte encoding. Write a model and manufacturer. Show the self-test page.
Are you sure that the necessary encoding is present in the printer firmware?
Cyrillic is present in GBK allsow.
FS . ( 28, dot) - command for china mode off (maybe another on you printer)

[2020-01-21 07:53] Klemen1337 commented on #136
@antoniomgatto You can still use electron printer without node printer. So why would you remove it?

[2020-01-21 07:59] Klemen1337 commented on #131
@sanjeevuideveloper Buffer data are specific commands for the printers and it would be very hard to convert to PDF. You need a different method to save as PDF.

[2020-01-21 07:59] #131 closed

[2020-01-21 08:04] Klemen1337 commented on #134
Fixed in v4.1.2

[2020-01-21 08:04] #134 closed

[2020-01-23 19:35] selenecodes commented on #133
You can pass it a node-printer driver or fork as far as I know. For node <12 try `require('printer')` and for node > 12 try `require('@thiagoelg/node-printer')`

[2020-01-23 19:36] selenecodes commented on #133
Also if you're using Electron with those you will need to rebuild.

For that you can use electron-rebuild using the following command
[code]

[2020-01-25 14:53] antoniomgatto commented on #136
@Klemen1337 this project is only a fork. If you take a look into electron printer README there is a note

"It's a temporary solution until binary package will be available for node 5.1.x and windows / linux platforms for node-printer on electron runtime."

[2020-02-07 08:14] MY020537 opened #141 "How to print HTML formatted text"
Does this module support html template printing as well  anyhow ? i am able to print RAW text but not HTML formatted text.

[2020-02-14 11:22] Klemen1337 commented on #141
@MY020537 this library creates buffer with commands specifically for epson and star printers.

[2020-02-14 11:22] #141 closed

[2020-02-21 05:29] albertshah opened #142 "Unhandled Rejection (TypeError): Net.connect is not a function"
When I try to print, I get error : Unhandled Rejection (TypeError): Net.connect is not a function

I searched a lot and there was only one unanswered question like mine here: https://gitter.im/Klemen1337/node-thermal-printer?at=588fbd82c0f28dd862629227

I am trying to print from Reactjs project using Chrome on Mac, I tried it on Android device too but I get the same issue.

I installed all the dep

[2020-02-21 08:03] boris-savic commented on #142
Hi albertshah,

this is a **nodejs** library so it cannot be used in Reactjs or any other front-end library.

The purpose of this library is to create a binary buffer of commands for thermal printers (Star and EPSON supported) and then stream those commands down to the printer. You can not do this from Chrome.

[2020-02-21 08:04] #142 closed

[2020-02-21 15:43] albertshah commented on #142
Thanks a lot Klemen for your prompt response.

1) I read in this post ( https://github.com/Klemen1337/node-thermal-printer/issues/74 ) that if we use Nwjs then we can use it with Reactjs too, I also installed NWjs but still the same error. Can you please clarify the solution.

2) As I a, new to node.js but found this package so useful, Is there any way that we can send the data from browser to a m

[2020-02-23 12:55] boris-savic commented on #142
1. Nwjs (and also Electron) are projects that enable you to build native desktop apps for Windows/Linux/Mac with nodejs and whatever frontend framework you prefer. So you cannot just npm install it and expect your webapp that runs in chrome to work. I suggest you head over to official documentations of the respective projects and check out what they are and how to actually use them.

2. This quest

[2020-03-02 16:31] yaxx opened #143 "Unable to connect printer via usb interface"
I'm trying connect the printer via usb. the printer port is set on USB001' so i set the interface to '\\.\USB001' instead of '\\.\COM1'. The printer could not connect and ended with these error
Error: EPERM: operation not permitted, open 'C:\.USB001'

I'm actually using win10 and Xprinter 58C

[2020-03-03 23:02] zakaria-chahboun commented on #143
me too and i'm using LINUX

[2020-03-04 08:39] Klemen1337 commented on #143
Please use [node-printer](https://www.npmjs.com/package/printer) package to print on USB. Node printer will natively bind to printers on windows and linux operating systems.

[2020-03-04 08:39] #143 closed

[2020-03-04 17:07] autotel opened #144 "Node 13, invalid ELF header"
I don't know if I am forgetting something, or the examples found are bound to fail. I am using node 13 on Debian.

Steps I followed:
* create folder named "ttl-printer-test"
* open command line in that folder
* npm init -y
* npm install node-thermal-printer --save
* npm install electron-printer --save
* npm install electron --save
* npm install printer --save
* touch index.js
* open index.js to ed

[2020-03-21 10:16] #127 closed

[2020-03-26 04:33] Dannybrown2710 opened #145 "Epson tm-t82 receipt ticket printer"
Hi Klemen,
Thank you for making an amazing package. I have 2 questions
1. I have an Epson receipt printer, it is connected via USB port . How do I set the interface for it in the printer configuration?
2. Can i print a pdf file directly rather than writing a custom code for printing the bill?

[2020-04-05 07:42] wesleyxiao commented on #75
:) great any update here?

[2020-04-05 10:17] pholmesp commented on #75
Sorry for the epic delay.

Please go to node-Modules/node-thermal-printer/lib/core.js and replace function print with code below.

`print(text,isGbk) {
    text = text || "";
    if(isGbk){
      this.append(iconv.encode(text,'GBK'))
    }else{
      this.append(text.toString());
    }
    // append("\n");
    // text = text || "";
    // this.append(text.toString());
  }`

Also add iconv-lite if

[2020-04-05 20:28] wesleyxiao commented on #75
Thank you for information, it still not working.
at core.js i add following code
`
println(text,isGbk) {
    text = text || "";
    if(isGbk){
      this.append(iconv.encode(text,'GBK'))
    }else{
      this.append(text.toString());
    }
    // append("\n");
    // text = text || "";
    // this.append(text.toString());
  }`

i am also add iconv-lite, and also print as printer.println("打印错误，没有菜品

[2020-04-19 01:28] megalcastro opened #146 "can you with a bixolon printer?"
can you with a bixolon printer?

[2020-04-20 02:09] jevy-wangfei commented on #133
Hi, Does your xprinter work with this node-thermal-printer package?
I see xprinter Compatible to ESC/POS command.

[2020-04-23 12:09] jevy-wangfei commented on #75
I resolved this issue by referencing this issue: https://github.com/song940/node-escpos/issues/88

[code]

[2020-04-30 01:15] #130 closed

[2020-05-03 08:32] infinitetrinity commented on #109
Hi. I'm still encountering this issue with the latest release.

[2020-05-05 08:47] asaadbaw opened #147 "Gray Color"
Is there any way to print gray colors. it only prints black.

[2020-05-07 07:08] #138 closed

[2020-05-07 09:08] #99 closed

[2020-05-08 15:07] Klemen1337 commented on #147
Please read more about thermal paper: https://en.wikipedia.org/wiki/Thermal_paper

[2020-05-08 15:07] #147 closed

[2020-05-12 00:56] #136 closed

[2020-05-28 12:00] Klemen1337 commented on #145
@Dannybrown2710
1. I use this package with https://www.npmjs.com/package/printer to interface with the USB printer.

2. No, PDF and printer commands are two completely separate things. Some "graphical" printer drivers could do it but that has nothing to do with this package.

[2020-05-28 12:02] Klemen1337 commented on #146
If it is epson compatible printer then it is already supported

[2020-05-28 12:03] Klemen1337 commented on #144
this is a problem with https://www.npmjs.com/package/printer package

[2020-05-28 12:03] #144 closed

[2020-06-03 15:54] RWOverdijk opened #148 "Find printer in network"
Hey!

I love this module and it works really well. Thank you for this.

Currently I am configuring the IP address of the printer manually, but I would like to detect it on the network automatically. Is there a way I can do this? I can use "auto" for connected printers, but does this also work for printers on the network? Because it doesn't seem like it.  If there's a doc I didn't find/read I apolo

[2020-07-03 03:15] leonardovargasleffa opened #149 "Incomplete print"
I using module "node-thermal-printer" to create buffer and this for send data to print with node-printer.

![](https://user-images.githubusercontent.com/5497003/86427514-bbe04000-bcc0-11ea-85d6-60ca3742ef8b.png)

But sometimes, part of the beginning of the text is not printed.
I save text in one file and save full text in file normally, but not printed full text.

Examples of buffer string

Print

[2020-07-13 09:18] rajjagani021 opened #150 "Is the library supported for TSC - TTP225 label printing model"
I want to know is this library supports the TSC model. This printer prints the KOT information of the sticker. Can this library do that thing as well?
![31Ano0cMqTL](https://user-images.githubusercontent.com/4434991/87287484-ca77f400-c517-11ea-9848-5f1da8810d57.jpg)

[2020-07-14 16:36] binuchandrane opened #151 "Electron React Boilerplate"
I'm using Electron React Boilerplate to build my app. I'm getting the following error when I trying to load  ThermalPrinter  via
`const ThermalPrinter = require("node-thermal-printer").printer;`

`Uncaught TypeError: __webpack_require__(...) is not a function
    at Object../node_modules/node-thermal-printer/node_modules/iconv-lite/lib/index.js (index.js:144)
    at __webpack_require__ (bootstrap:

[2020-07-14 18:57] samuelcseto commented on #150
Hello! This library supports EPSON and STAR communication protocols. The printer you want to use uses TSPL-EZ protocol which unfortunately isn't compatible. Please refer to this document if you want to interact with this printer.
[TSPL-EZ Programming Manual](https://www.meto.com/metoprint/files/meto_print_programming_manual_tspl_ez_en.pdf)

[2020-07-14 19:12] samuelcseto commented on #151
Hello! This is a known issue with the _iconv-lite_ package when used together with Electron. I have checked and it looks like it has already been fixed in release 0.6.0. Try to update to the latest version of this package and let us know if it helped. 😉
https://github.com/ashtuchkin/iconv-lite/commit/b106faaf15bb1bc66b20bdb81aa687415f54a7d4

[2020-07-14 19:18] samuelcseto commented on #149
Hello! I would have to see the whole code including the part where the print gets executed. Everything on your screenshot looks alright so the issue has to be somewhere else.

[2020-07-15 02:02] binuchandrane commented on #151
It works. Thank you so much @samuelcseto

[2020-07-15 02:02] #151 closed

[2020-07-24 07:07] Klemen1337 commented on #148
Hi @RWOverdijk,
node-thermal-printer library is used to create buffer array for printers. Handling queues and discovering printers is a job for other libraries like https://www.npmjs.com/package/printer

[2020-07-24 07:07] #148 closed

[2020-07-24 07:08] Klemen1337 commented on #150
@rajjagani021 label printers usually use different code and logic.

[2020-07-24 07:08] #150 closed

[2020-07-24 08:19] RWOverdijk commented on #148
I understand. I tried that but it doesn't list printers on the network unfortunately. I could check every address in the network to see if I get a response I guess.

[2020-08-04 16:16] kartiksolanki opened #152 "Question: Firebase Cloud Function"
Does this library work with Firebase Cloud Functions?  Can I send the print from Cloud Function?

[2020-08-05 23:48] #133 closed

[2020-08-07 15:19] kartiksolanki opened #153 "Ionic Integration"
Hi,
As ionic support nodejs, is it possible to integrate this plugin inside ionic pwa project?

[2020-08-07 16:42] kartiksolanki commented on #142
hi @albertshah, I am getting the same error inside my angular nodejs ionic web app. Did you find any solution?

[2020-08-21 14:30] binajmen opened #154 "tableCustom print blank line"
Hi @Klemen1337, Hi everyone,

A big thank you for this library 🙏

I have a small issue (or is it not?) when printing a custom table. I have an extra line printed. See pics attached.

![IMG_4852](https://user-images.githubusercontent.com/15611419/90901362-1fd2db00-e3cb-11ea-9029-c09727d3e942.jpg)

Here's the code:

[code]

Is there a way to avoid this extra space between the table rows?

I'm using

[2020-08-28 00:06] pdeecode commented on #152
Hi There,

I am also stuck on the same issue as kartik, we can print perfectly on local but when we use the same code (node.js) on firebase it won't work.

[2020-09-03 17:59] adolfomoro opened #155 "Not printer in Serial"
not printer in serial port Bematech MP-4200 TH

[code]

or

[code]

[2020-09-05 18:51] dannyzar opened #156 "BMP Image format"
Only working with png is a little bit of a limitation. Any chance of support in .bmp images?

[2020-09-12 20:45] #145 closed

[2020-09-12 20:45] #146 closed

[2020-09-24 11:33] SloInfinity commented on #156
Did you mean BMP?

[2020-09-24 14:31] dannyzar commented on #156
Yes, my bad. Edited.

[2020-09-30 14:53] Eliam93 opened #157 "QR code duplicate last characters"
Hi,
I'm going to use this library to prin QR code with a Custom Kube II thermal printer (Epson type). All other functions work perfectly, but when I print a Url QR, on the scan I see the duplication of last characters. I've tried to debug the printQR function, but I think that the problem is on buffer overflow, or something similar. I use the library with electronjs and with a network printer.
Tha

[2020-10-24 23:02] KhanMaytok opened #158 "Is there any docker image?"
I would like too know if there is a Docker image fot the project. I tried to build one, but I get lot of errors in node install phase

[2020-10-25 07:21] asaadbaw commented on #149
Hello

I had this issue too. I discovered that the printer object gets destroyed before the printing finish.

![image](https://user-images.githubusercontent.com/8416276/97101140-cc6f5880-16ab-11eb-8461-c4e656af5042.png)

[2020-11-24 03:22] #153 closed

[2020-12-02 05:18] Akshay-Jannu opened #160 "printer.isPrinterConnected() giving true even for a wrong IP when used with mobile hotspot"
let printer = new ThermalPrinter({
      type: PrinterTypes.EPSON,
      interface: "tcp://192.168.1.",
    });

    let isConnected = await printer.isPrinterConnected();

_isConnected is coming as true even though the IP is wrong._

let execute =await printer.execute();

_execute is coming as Data sent to printer: 192.168.1.:9100_

This is happening when I use a mobile hotspot, is there any solut

[2020-12-03 15:33] blank-tree opened #161 "Error: No driver set!"
I'm using macOS, installed the [printer](https://www.npmjs.com/package/printer) library and Node.js v13.14.0 (latest compatible version of node which works with the printer library).

I'm using this code:

[code]

But it always terminates with:

[code]

What am I doing wrong?

The printer package is returnig with:
[code]

the following:

[code]

[2020-12-06 19:29] #154 closed

[2020-12-10 00:03] Edig commented on #161
I have the same problem with the same printer, any ideas?

[2020-12-10 14:14] blank-tree commented on #161
I've found a solution. I'm not sure where the problem is, but this way it worked out.

Software:
* macOS 10.15.7
* node.js 13.14.0
* npm 6.14.4
* nvm 0.37.2
* CUPS

NPM:
* [node-printer](https://www.npmjs.com/package/printer)
* [node-thermal-printer](https://www.npmjs.com/package/node-thermal-printer)

Setup CUPS:
* Install EPSON driver see https://download.epson-biz.com/modules/pos/index.php?page

[2020-12-10 17:45] #161 closed

[2020-12-12 01:42] jonathantyar commented on #151
@binuchandrane can you please provide a clue how you can achieve using this package with Electron React Boilerplate, i got this issue to, but updating to the last version didn't solve the problem for me

[2020-12-18 06:49] #152 closed

[2020-12-24 11:24] #155 closed

[2021-01-01 15:26] shabanbx commented on #160
same problem

[2021-01-19 03:27] denven opened #164 "How can I add another language charset support?"
I cannot print Chinese-Simplified Characters on a EPSON TM-T88VI printer via tcp printing even when I set the `characterSet` to 'CHINA', I checked the ESC charsets commands from [EPSON doc](https://reference.epson-biz.com/modules/ref_escpos/index.php?content_id=29), it's already added in `epson-config.js` file:

[code]

But when I initite the printer with:
[code]

it doesn't work.

And I also find

[2021-01-21 09:42] denven commented on #164
I found the reason!

Epson printer has different Models, some type has several  models under the same name. And different model may vary in languages char set support.

The model will output garbled code for some language given that you've set language char set, that is due to code page for that language is not included for the model, and there is no corresponding font in the firmware to print rig

[2021-01-23 17:22] #157 closed

[2021-01-23 17:22] #156 closed

[2021-02-02 06:02] RahulMongia commented on #7
Anyone knows how to set-up a USB printer for node js. I m not able to configure the interface for it . Here is my code

enter code here const ThermalPrinter = require("../node-thermal-printer").printer;
                const Types = require("../node-thermal-printer").types;
                const electron = typeof process !== 'undefined' && process.versions &&
                                  !!pr

[2021-02-06 04:13] HardikDG commented on #153
@kartiksolanki Does it worked with Ionic for you?

[2021-02-06 15:18] kartiksolanki commented on #153
@HardikDG : I have not tried this but I used [cordova-plugin-epos2](https://github.com/towerism/cordova-plugin-epson-epos2#readme) instead and it works wonderful. Also if you are using STAR printer then go to ionic API pages and they have a plugin for STAR as well.

[2021-03-03 14:28] hawkerboy7 opened #167 "Printing text and an image on the same line"
First of all @Klemen1337 thank you for this great project!
It has saved me so much time and it works well!!!

I have more of a question:
- [x] Printing an image works.
- [x] Printing text works.

I'd like to print some text **in front** of an image in one line e.g. `3x [image]`
When doing so the text `3x` in this case, I think is regarded as image data or the image data is regarded as a string.
In

[2021-03-03 14:42] hawkerboy7 commented on #164
The solution I am using is to print images of the characters instead.
This way you can show characters even though the printer does not have/support the languages char set.
This works if you have a manageable fixed amount of Chinese, Japanese or Hebrew charters for example in a restaurant printing the dishes for the chefs.

[2021-03-03 19:12] svang-app opened #168 "this.printer.setTextSize is not there for Star Printer"
If I try to use STAR printer test, it throws an exception on setTextSize.

[code]
Any pointer - how to go about this? Thanks

[2021-03-05 18:55] hawkerboy7 commented on #168
Looking at the code for [star](https://github.com/Klemen1337/node-thermal-printer/blob/master/lib/types/epson.js#L25) that function is not implemented, while it is for [epson](https://github.com/Klemen1337/node-thermal-printer/blob/master/lib/types/epson.js).
Assuming this is left out on purpose a star printer does not support this function.

[2021-03-07 12:28] SwapnilSoni1999 commented on #161
Thanks alot it took me half of the day to figure out either node-printer or electron-printer is required

[2021-03-08 07:53] sidhdharth-navsoft commented on #168
@hawkerboy7  is this work npm module also work for windows ??
because i am getting printer "ThermalPrinter-- Print done"  for "log.info('ThermalPrinter--', execute);" but it's not printing anything and opening cash drawer for windows pc.

[2021-03-08 07:56] sidhdharth-navsoft opened #169 "Not working for windows"
is this also work for windows ??
because I am getting this output  "ThermalPrinter-- Print done" for "log.info('ThermalPrinter--', execute);" but it's not printing anything and not opening cash drawer for windows pc.

I am trying to open the cash drawer without print but this is not working.

[2021-03-10 12:21] manoj-nexgdata opened #170 "unable to connect to printer"
Im using POS application to print  biill in thermal printer of HOP-E801 printer using node .js ,I have set this as a default printer to my machine.

printer details :
Model :  HOP-E801
width: 58mm-80mm(3 inch bill)
printer name :POS-80-Series

i have installed dependency for printer activity like printer list and print content

Here is my sample test program to connect with printer

const ThermalP

[2021-03-20 13:12] manoj-nexgdata commented on #170
We got blocked in the middle of the development. If some one can guide us to integrate the printer, it will be helpful. I request you people to give a quick response on this.

Thanks.

[2021-04-08 17:31] mitchelson commented on #170
hi, have you tried `interface: '\\\/localhost\\/PRINTER-NAME',`

[2021-04-23 00:38] afif-bouzid commented on #169
of course it works.
I advise you to configure your printer in share mode (ex: printer1)
and configure your file like this (
ex: let printer = new ThermalPrinter ({
        type: PrinterTypes.EPSON,
        interface: '// localhost/printer1',
      });
)

[2021-04-23 00:42] afif-bouzid commented on #170
I advise you to configure your printer in share mode (ex: printer1)
and configure your file like this (
ex: let printer = new ThermalPrinter ({
type: PrinterTypes.EPSON,
interface: '// localhost/printer1',
});
)

[2021-04-29 00:55] afif-bouzid commented on #160
I have false when I use the print share

          interface: '//localhost/printer',

        });
Do you have a solution?

[2021-05-21 02:28] hoangphan84 commented on #160
I have submitted a PR to check the status of the printer and return proper isPrinterConnected value
https://github.com/Klemen1337/node-thermal-printer/pull/171

In the meantime, I suggest to use the printer driver to manually check the status of the printer and determine its connection status.

[2021-05-29 06:50] Osuriel commented on #142
Hey I know I might be asking for wayy to much but hopefully it doesn’t hurt to ask. I get your point about not being able to use this from the browser. But since you obviously got more experience than me or anyone I know I’ll ask you this. If I wanted to print from the browser to a thermal printer, is that possible at all? And we’re would you start researching? I’ve been researching the topic for

[2021-05-29 07:01] boris-savic commented on #142
You could construct printable content in HTML and use standard Chrome/browser print function which then converts the page to PDF content, simply select your printer and you're good to go.

This works on most printers if you have drivers installed

[2021-06-01 19:42] ausittechdirect opened #172 "Multiple Lines dynamicaly from DB into table"
Hi

I  am wondering what the function would be to add sales lines dynamically to a table.

I have tried but as soon as I add a function into the printer. array it fails.

[2021-06-09 22:48] #158 closed

[2021-06-09 22:48] #149 closed

[2021-06-10 09:14] theonardo23 opened #173 "Implementation in React Js. fs module not found"
I'm building a web app using React JS with typescript with Epson TM-U220D as the printer. I've done setting everything up, but when I try to run it, it always throws error related to fs. I've checked on my node-module/node and fs is there. Here's how I setup my printing page.

[code]

For the code above it throws the error **fs.existsSync is not a function** . Is it anything to do with the project

[2021-06-24 23:20] z-inc opened #174 "How send custom commands. Like GS k n (1D 6B n)"
I need write a custom sequence by ESC POS. How can i to do it?!

[2021-06-29 07:13] Klemen1337 commented on #174
you can append buffer like this `printer.append(Buffer.from([0x00, ....])`

[2021-06-29 07:14] Klemen1337 commented on #173
This is NodeJS project. I also made a browser friendly version [https://github.com/Klemen1337/browser-thermal-printer](https://github.com/Klemen1337/browser-thermal-printer)

[2021-06-29 07:17] Klemen1337 commented on #172
So you want to print an array of strings?

[code]

[2021-07-21 00:45] #164 closed

[2021-07-21 00:45] #168 closed

[2021-07-21 00:45] #167 closed

[2021-07-30 16:16] jasnlink opened #176 "Printing Chinese to an EPSON TM T88V printer"
I've tried setting charsets to CHINA from the examples.
I've tried encoding to CP936, ISO-8859-1, GBK, GB18030, BIG5 with iconv-lite and it's all printing in gibberish.
Is there a way to make this work?

[2021-08-09 12:43] rmpt opened #177 "ES6/TypeScript update"
Docs and examples should be updated to TypeScript in order to facilitate integration with modern frameworks like Angular, react etc.

[2021-09-04 04:00] jlberrocal opened #178 "Data is being cached"
This library is amazing however in an electron project we found that is pretty much single-shot, meaning you'll need a new instance of the thermal printer every time you sent to print, otherwise it will execute all the set of commands you have been accumulating, which is wrong.

I tried to open a PR by my own but you didn't uploaded the TS code

possible workaround:

[code]

[2021-09-29 13:49] Dhoffe commented on #56
This worked!

[2021-10-24 01:41] nielsch87 opened #179 "Blutooth support"
Hi,
is any bluetooch support or maybe wifi by mac address and not ip?

[2021-11-15 16:51] tishko18 opened #180 "why node-thermal-printer not support arabic or unicode?"
i have issue when i wanna print invoice , my issue is not print unicode or arabic

how can i resolve this issue?

[2021-11-30 12:44] haydave commented on #180
Also, Armenian letter are not supported.

[2022-01-09 18:36] kdrmlhcn opened #184 "beep() is not working"
Hello,

When using the [Escpos](https://www.npmjs.com/package/escpos) package, the beep function works as expected, but when I try to work with this package, the beep function does not work. Has anyone encountered this problem before?

[2022-01-16 23:53] jahidhque opened #185 "Font size increase"
Hi is there anyway we can set the textSize with fraction number please? Current if we do printer.setTextSize(2,2), its too big. set double height or width also not giving me desire result.

is there anyway we can do printer.setTextSize(1.25, 1.25) (or any other number ) to get more control over the font size please?

Thank you so much.

[2022-02-20 12:02] GuusToussaint commented on #176
Hi did you manage to fix this issue?

[2022-02-20 16:37] jasnlink commented on #176
Yes, there is an international model of the TM T88V that comes with either simplified or traditional chinese fonts. I decided in the end to change brands and go with the STAR Micronics TSP143III. They come standard with asian character printing.

[2022-02-24 15:39] WebScaffolder opened #186 "driver"

[2022-02-24 20:17] jeremy-hoot commented on #186
Hey man I legit just got this error earlier. I found a work around for this. I needed to install this [package](https://www.npmjs.com/package/@thiagoelg/node-printer) and it was actually running. Then i was able to add the driver using this syntax.
`
let printMachine = new ThermalPrinter({
  type: PrinterTypes.STAR,
  interface: "printer:Star TSP143IIIBI Cutter",
  **driver: require("@thiagoelg/no

[2022-02-24 21:20] jeremy-hoot opened #187 "printImage Function Error"
Hello, when I print an image I am returned with this error:

`
Error: Invalid file signature
    at module.exports.Parser._parseSignature (...\node_modules\pngjs\lib\parser.js:50:18)
    at module.exports.SyncReader.process (...\node_modules\pngjs\lib\sync-reader.js:34:17)
    at module.exports (...\node_modules\pngjs\lib\parser-sync.js:63:10)
    at Object.exports.read (...\node_modules\pngjs\lib

[2022-02-24 21:29] jeremy-hoot commented on #187
**Update:** I was sent an invalid png file and that's why I was getting this error. Making sure the image send was solid and had a transparent background helped.

[2022-02-24 23:20] WebScaffolder commented on #141
wha do you meant by create buffer, answer  yes or no or if possible then how?

[2022-02-24 23:22] WebScaffolder opened #188 "html invoice."
Hi,

I want to send html using external style, do you think this can be able to print.

[2022-03-02 14:18] sassymonks opened #189 "there is a delay when we unplug the internet cable from router and do lan printing"
we have unplugged the internet cable from the router and our printers are connected to the router in the local network. Our pc is connected to the router and doesn't have any internet if we try to print it offline it is taking 15 seconds delay to print but if we connect to the internet and print then there is no delay. is there any solution for this? can anyone help us out?

[2022-03-14 09:04] #187 closed

[2022-03-14 09:05] Klemen1337 commented on #188
This library uses printer commands, so no.

[2022-03-14 09:05] #188 closed

[2022-03-14 09:08] #185 closed

[2022-03-14 12:07] #173 closed

[2022-03-18 14:55] treeindark opened #190 "bug with codeBar and QR ?"
printer.code128("Code128"); and printer.printQR("QR Code");
Print nothing  !

printer.barCode("123456789");
print 123456789 !

Other Methods are ok!

I use last version (4.1.2), with Electron (17), print in electron-preload.js
Write with epson on windows share

[2022-03-23 08:04] treeindark commented on #190
code128(data) not work, but with printer.barCode("123456789", 73)  it's ok.

[2022-03-23 08:04] #190 closed

[2022-03-23 15:30] MehdiAlazhar commented on #190
Hi,
i encounter the same problem and i used several thermal printers and i cant find a function called barCode that you said resolve your problem i use the last version 4.1.2 as well.
can i have some assistance with this problem??

[2022-03-24 09:52] Tadija1986 opened #191 "SP742ME GRY US"
Hello, I am using this library for printing from node server on Raspberry PI 4 to Star SP742 dot impact printer with Ethernet interface, and everything is working fine except printing image, QR code, barcode. When I try to print this things it is printing array of characters. What I am doing wrong? Emulation on printer is Star.

[2022-03-31 06:11] hesa2020 opened #192 "Epson function for CODE128 actually missing"
Hello the function code128 is actually missing for Epson printers. here is how I implemented it for mine:

[code]

[code]

It doesnt use any settings and has no text above/underneat and I am trying to figure how to implement those, however it seems to be working fine.

Edit:
I changed the function code to
[code]
printer.code128('12345', {
  height: 80,
  hriPos: 2
});

[2022-03-31 06:25] hesa2020 commented on #192
Using printBarcode 73 didnt worked, it wrote the underneat text and took the space on paper but it wasnt printing any bars.

[2022-04-04 07:58] treeindark commented on #192
hello,
I'll use an epson compatible printer, but for code128 i need send :
·When using the CODE 128 in this printer, take the following points into
account for data transmission:
① The top of the bar code data string must be code set selection
character (any of CODE A, CODE B or CODE C) which selects the first code set.
② Special characters are defined by combining two characters
“{“ and one chara

[2022-04-16 04:51] #172 closed

[2022-04-16 04:51] #178 closed

[2022-04-16 04:51] #177 closed

[2022-04-16 04:51] #180 closed

[2022-04-16 04:51] #169 closed

[2022-04-16 04:51] #170 closed

[2022-04-16 04:51] #160 closed

[2022-04-20 21:03] VitorReginatto opened #193 "ZPL"
I have the code in ZPL, is it possible to print?

[2022-05-11 15:28] thedigital commented on #191
Hi, i have the same issue with Epson type. Any news about this ?

[2022-05-14 17:00] zdridox opened #195 "Compile error"
HI i just copied the example.js becouse i want to print with tsp700II but when i run the script i get this error:

**TypeError: BrowserWindow is not a constructor
    at c:\Users\zdridox\node_modules\electron-pos-printer\dist\post-printer.js:87:30
    at new Promise (<anonymous>)
    at Function.PosPrinter.print (c:\Users\zdridox\node_modules\electron-pos-printer\dist\post-printer.js:68:16)
    at

[2022-05-14 17:15] #195 closed

[2022-05-14 17:26] zdridox opened #196 "Compile error"
hi i downloaded the whole repository but when i tried to run the example.js i have this error:
all i did is changed the type from EPSON to STAR and i commented // on image becouse i dont have it

error:

**Consturctor not set
Printer connected: false
(node:28960) UnhandledPromiseRejectionWarning: TypeError: this.printer.setTextSize is not a function
    at ThermalPrinter.setTextSize (c:\Users\zdri

[2022-05-16 01:09] #196 closed

[2022-05-16 01:11] zdridox opened #197 "Constructor not set. error. PLS help"
HI im checking connection to my star tsp700II with this code and i get an error 'constructor not set'
code:
[code]

error:

[code]

[2022-05-17 02:33] #197 closed

[2022-05-17 02:36] zdridox opened #198 "Cut"
When i do printer.cut(); it prints like 10cm of unused paper and then cuts.
how to stop star tsp700II from doing that?
https://i.imgur.com/UxbYwIS.png

edit: when i try to print  2 receipts it prints twice with that 10cm of clear paper and once when it cuts a the right spot

code:

[code]

[2022-05-18 00:43] zdridox commented on #198
I fixed it! i changed the driver from star tsp700II to microsoft software printer driver :)

[2022-05-18 00:43] #198 closed

[2022-05-23 06:45] whoisnyl commented on #54
Hi @Klemen1337 could you tell where and how to use this command you suggested? Sorry I'm a bit confused. Thank you!

[2022-05-26 08:02] sassymonks opened #199 "how to set paper size for 80mm print and 58 mm print"
We are unable to set print for 58mm paper size. how to set the paper sizes for 80mm print and 48 mm print? can anyone help us out?

[2022-06-10 23:46] davidquon commented on #153
I had this question as well trying to print from an Ionic PWA project.  Does anyone know if this is possible?

[2022-06-13 14:59] kartiksolanki commented on #153
@davidquon : For Ionic PWA project, I would suggest looking into [node-thermal-printer](https://www.npmjs.com/package/node-thermal-printer) which you can implement on your server side. If you are using Ionic for mobile platforms, use cordova-plugin-epos2 as I have implemented it and it works really well.

[2022-07-03 18:51] OverSamu commented on #199
Hi, you can try setting the number of characters per line via the width property of the configuration:
https://github.com/Klemen1337/node-thermal-printer/blob/master/lib/core.js#L37
By default it is 48 characters per line (i.e. paper width 80 mm).

[2022-07-09 07:32] ASIF-HUSSAIN-CREATOR opened #202 "print.getText() should be printer.getText() in readme Documentation"
When we tried with print.getText() it says print is  not a function
When we tried with printer.getText() it was succesfull

[2022-07-09 18:30] fleksa-bhushan opened #204 "STAR SM-L200 wont print EURO (€) symbol"
We are getting started with the node-thermal printer and want to print German characters including EURO symbol, but  till now no luck already tried all character set incluing PC858_EURO  and https://github.com/Klemen1337/node-thermal-printer/issues/70

Any one managed to get this working?

[2022-07-14 09:31] geroale commented on #204
Same issue here

[2022-07-25 15:24] xjuanc opened #208 "Allow printImage to be centered"
Hello everyone, I'm trying to find a way to center an image that is being sent to the printer with the printImage function, I've tried to align it as if it was a text but nothing changed. Is there any way to accomplish this?

The image prints quite sharp and everything is okay but quite of leaning towards the left side, therefore I'd like to center it. Thanks in advance.

[2022-07-26 02:17] mattkrins opened #209 "Reliance on electron-printer/node-printer"
This library works brilliantly for printing to networked printers, however I would like to print to a local printer too, but due to the reliance on electron-printer/node-printer this is not possible as these libraries are dead/broken and pull requests are ignored.
Is it possible to print locally without electron-printer/node-printer?

[2022-07-26 12:56] Wolyo opened #210 "openCashDrawer doesn't work for me"
Finally after having some difficulties to be able to use this library, I was able to print a ticket using the example just add **printer.openCashDrawer();** but it does not open it, I use it in the click event of a button but the first time it does not open it but if I click more times it does open it and it opens it as many times as it does but if I put at least one **println** it prints the text

[2022-07-26 13:21] mattkrins commented on #209
Thanks for the advice @Wolyo, .
I also found a workaround which is going to suit better for me:
On the host running node-thermal-printer share the local printer like you would to the network, but only set permissions for the local user, then for the ThermalPrinter interface just use '//localhost/LocalPrinterName'. No extra library required this way, but it would still be nice to not need workaroun

[2022-07-27 18:01] Feeh03114 opened #211 "GetStatus not implemented"
It does not generate an error when the paper runs out, it would be interesting to get the status if you have paper, give an error that paper is out.

the only thing I can return is the printer data but even that doesn't help because I follow this (https://github.com/tojocky/node-printer/issues/166) tutorial but it doesn't even have the necessary parameters.

`{
  name: 'EPSON TM-T20X',
  portName:

[2022-08-15 21:52] SimantoR commented on #209
Maybe we could build a new C++ Node.JS library for local printers across the 3 platforms. Printer are ancient at this point and finding reference code wouldn't be too hard. I am looking to do things over the network primarily but testing has been a pain since I use a wired one. `thiagoelg/node-printer` seems to be fine, but a more maintained one would be nice.

[2022-10-20 14:18] Klemen1337 commented on #208
Is the content of the image in the center?

[2022-10-20 14:19] Klemen1337 commented on #192
@hesa2020  Can you make a PR?

[2022-10-21 06:47] Klemen1337 commented on #184
Please provide more information about your printer and implementation.

[2022-10-24 13:53] Klemen1337 commented on #202
It was just a typo in the documentation, it was fixed with a PR 👍

[2022-10-24 13:53] #202 closed

[2022-10-24 13:58] Klemen1337 commented on #210
Hi 👋 You are executing the printer commands before open cash drawer is added to the commands buffer.

[code]